/*!*******************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[8].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[8].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[8].use[3]!./src/scss/star.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************/
.usk-rating {
  display: inline-block;
}
.usk-rating .star-rating {
  display: block;
  margin: 6px 0px 0 0;
  float: left;
  overflow: hidden;
  position: relative;
  height: 14px;
  line-height: 1;
  font-size: 14px;
  width: 95px;
  font-family: star;
  letter-spacing: 5px;
}
.usk-rating .star-rating:before {
  content: "sssss";
  color: #d3ced2;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
}
.usk-rating .star-rating span {
  overflow: hidden;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  padding-top: 1.5em;
  color: #ffcc00;
}
.usk-rating .star-rating span:before {
  content: "SSSSS";
  top: 0;
  position: absolute;
  left: 0;
}
.usk-rating:empty {
  display: none;
}
.usk-rating .woocommerce-product-rating {
  display: inline-block;
  padding-bottom: 12px;
}
.usk-rating .woocommerce-product-rating:after, .usk-rating .woocommerce-product-rating:before {
  content: " ";
  display: table;
}
.usk-rating .woocommerce-review-link {
  color: #fff;
  display: none;
}
