.usk-page-single .woocommerce-product-gallery {
  opacity: 1 !important; }

.usk-page-single input {
  line-height: 1 !important; }

.usk-page-single button {
  line-height: 1.2; }

.usk-page-single form.cart * {
  text-align: center; }
