@charset "UTF-8";
.usk-image-hotspot {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: clamp(15px, 3vw, 30px);
}

.usk-image-hotspot-thumbs {
  position: relative;
  width: 100%;
  display: flex;
}
.usk-image-hotspot-thumbs .swiper-wrapper {
  position: absolute !important;
  left: 0;
  top: 0;
}
.usk-image-hotspot-thumbs .usk-thumbs-item {
  position: absolute !important;
  height: clamp(32px, 3vw, 40px);
  width: clamp(32px, 3vw, 40px) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: visible !important;
}
.usk-image-hotspot-thumbs .usk-thumbs-item.swiper-slide-thumb-active .usk-thumbs-box {
  background-color: #2b2d42;
}
.usk-image-hotspot-thumbs .usk-thumbs-item.swiper-slide-thumb-active .usk-thumbs-box i {
  color: #fff;
}
.usk-image-hotspot-thumbs .usk-thumbs-item.swiper-slide-thumb-active .usk-thumbs-box svg {
  fill: #fff;
}
.usk-image-hotspot-thumbs .usk-thumbs-box {
  background-color: #ffffff;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  overflow: hidden;
}
.usk-image-hotspot-thumbs .usk-thumbs-box i {
  color: #2b2d42;
}
.usk-image-hotspot-thumbs .usk-thumbs-box svg {
  fill: #2b2d42;
}
.usk-image-hotspot-thumbs .usk-thumbs-box i, .usk-image-hotspot-thumbs .usk-thumbs-box svg {
  width: 1em;
  height: 1em;
}
.usk-image-hotspot-thumbs .usk-image-wrap {
  height: 100%;
  width: 100%;
  display: flex;
}
.usk-image-hotspot-thumbs .usk-image-wrap .usk-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.usk-image-hotspot-thumbs .usk-thumbs-item:after {
  content: "";
  position: absolute;
  display: block;
  -webkit-animation: 2s infinite hotspot-icon;
  animation: 2s infinite hotspot-icon;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 800px;
  perspective: 800px;
  background-color: #fff;
  opacity: 0.3;
  width: 64px;
  height: 64px;
  transition: 0.2s ease-in-out;
  z-index: -1;
}

.usk-image-hotspot-main {
  width: 80%;
}

.tippy-box[data-theme^=bdt-tippy-image-hotspot-] {
  background-color: transparent !important;
  max-width: 300px !important;
}
.tippy-box[data-theme^=bdt-tippy-image-hotspot-] .tippy-content {
  padding: 0;
  border-radius: 0;
  background-color: transparent;
}
.tippy-box[data-theme^=bdt-tippy-image-hotspot-] .tippy-arrow {
  color: #fff;
  z-index: 1;
}
.tippy-box[data-theme^=bdt-tippy-image-hotspot-] a {
  text-decoration: none;
}

.tippy-box[data-theme^=bdt-tippy-image-hotspot-],
.usk-image-hotspot-main {
  --btn-width: 100%;
}
.tippy-box[data-theme^=bdt-tippy-image-hotspot-] .usk-item,
.usk-image-hotspot-main .usk-item {
  overflow: hidden;
  background-color: #fff;
}
.tippy-box[data-theme^=bdt-tippy-image-hotspot-] .usk-item:hover .usk-action-btn,
.usk-image-hotspot-main .usk-item:hover .usk-action-btn {
  transform: translateX(0px);
}
.tippy-box[data-theme^=bdt-tippy-image-hotspot-] .usk-item:hover .usk-button,
.tippy-box[data-theme^=bdt-tippy-image-hotspot-] .usk-item:hover .added_to_cart,
.usk-image-hotspot-main .usk-item:hover .usk-button,
.usk-image-hotspot-main .usk-item:hover .added_to_cart {
  transform: translateY(0px);
  opacity: 1;
  visibility: visible;
}
.tippy-box[data-theme^=bdt-tippy-image-hotspot-] .usk-action-btn,
.usk-image-hotspot-main .usk-action-btn {
  transform: translateX(25px);
}
.tippy-box[data-theme^=bdt-tippy-image-hotspot-] .usk-shoping,
.usk-image-hotspot-main .usk-shoping {
  top: clamp(10px, 1vw, 25px);
  right: clamp(10px, 1vw, 25px);
}
.tippy-box[data-theme^=bdt-tippy-image-hotspot-] .usk-badge-label-wrapper,
.usk-image-hotspot-main .usk-badge-label-wrapper {
  left: 0;
  top: 0;
}
.tippy-box[data-theme^=bdt-tippy-image-hotspot-] .usk-button.added,
.usk-image-hotspot-main .usk-button.added {
  display: none;
  transition: all 3s ease-in-out;
}
.tippy-box[data-theme^=bdt-tippy-image-hotspot-] .usk-button.loading::after,
.usk-image-hotspot-main .usk-button.loading::after {
  content: "";
  width: 20px;
  height: 20px;
  border: 2px dotted #fff;
  border-radius: 50%;
  margin-left: -15px;
  display: inline-block;
  position: relative;
  position: absolute;
  top: 31%;
  text-align: center;
  animation: rotation 2s linear infinite;
}
.tippy-box[data-theme^=bdt-tippy-image-hotspot-] .usk-button.loading i,
.usk-image-hotspot-main .usk-button.loading i {
  transition: all 0.3s ease-in-out;
  transform: translate(70px);
  opacity: 0.02;
}
.tippy-box[data-theme^=bdt-tippy-image-hotspot-] .added_to_cart,
.usk-image-hotspot-main .added_to_cart {
  transition: all 3s ease;
}
.tippy-box[data-theme^=bdt-tippy-image-hotspot-] .added_to_cart::after,
.usk-image-hotspot-main .added_to_cart::after {
  content: "✓";
  margin-left: 5px;
  font-size: 20px;
}
.tippy-box[data-theme^=bdt-tippy-image-hotspot-] .added_to_cart i,
.usk-image-hotspot-main .added_to_cart i {
  display: none;
}
.tippy-box[data-theme^=bdt-tippy-image-hotspot-] .usk-button,
.tippy-box[data-theme^=bdt-tippy-image-hotspot-] .added_to_cart,
.usk-image-hotspot-main .usk-button,
.usk-image-hotspot-main .added_to_cart {
  position: absolute;
  font-weight: 600;
  text-align: center;
  left: 0;
  bottom: 0;
  width: var(--btn-width);
  margin: 0 calc((100% - var(--btn-width)) / 2);
  background: #2b2d42;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  transform: translateY(100%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.tippy-box[data-theme^=bdt-tippy-image-hotspot-] .usk-button a,
.tippy-box[data-theme^=bdt-tippy-image-hotspot-] .added_to_cart a,
.usk-image-hotspot-main .usk-button a,
.usk-image-hotspot-main .added_to_cart a {
  color: #fff;
}
.tippy-box[data-theme^=bdt-tippy-image-hotspot-] .usk-button .button-icon:before,
.tippy-box[data-theme^=bdt-tippy-image-hotspot-] .added_to_cart .button-icon:before,
.usk-image-hotspot-main .usk-button .button-icon:before,
.usk-image-hotspot-main .added_to_cart .button-icon:before {
  margin: -5px;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}
.tippy-box[data-theme^=bdt-tippy-image-hotspot-] .usk-button:hover .button-icon:before,
.tippy-box[data-theme^=bdt-tippy-image-hotspot-] .added_to_cart:hover .button-icon:before,
.usk-image-hotspot-main .usk-button:hover .button-icon:before,
.usk-image-hotspot-main .added_to_cart:hover .button-icon:before {
  margin-left: 10px;
  opacity: 1;
  visibility: visible;
}
.tippy-box[data-theme^=bdt-tippy-image-hotspot-] .usk-have-rating .usk-price,
.usk-image-hotspot-main .usk-have-rating .usk-price {
  margin: 0;
  opacity: 1;
  transition: all 0.3s ease;
  transform: translateY(0);
}
.tippy-box[data-theme^=bdt-tippy-image-hotspot-] .usk-have-rating .usk-rating,
.usk-image-hotspot-main .usk-have-rating .usk-rating {
  transform: translateY(0);
  opacity: 0;
  transition: all 0.3s ease;
}
.tippy-box[data-theme^=bdt-tippy-image-hotspot-] .usk-have-rating:hover .usk-rating,
.usk-image-hotspot-main .usk-have-rating:hover .usk-rating {
  transform: translateY(-20px);
  opacity: 1;
}
.tippy-box[data-theme^=bdt-tippy-image-hotspot-] .usk-have-rating:hover .usk-price,
.usk-image-hotspot-main .usk-have-rating:hover .usk-price {
  transform: translateY(-20px);
  opacity: 0;
  visibility: hidden;
}
.tippy-box[data-theme^=bdt-tippy-image-hotspot-] .usk-item .usk-rating,
.usk-image-hotspot-main .usk-item .usk-rating {
  position: absolute;
  width: 100%;
  display: flex;
}
.tippy-box[data-theme^=bdt-tippy-image-hotspot-] .usk-button,
.tippy-box[data-theme^=bdt-tippy-image-hotspot-] .added_to_cart,
.usk-image-hotspot-main .usk-button,
.usk-image-hotspot-main .added_to_cart {
  height: clamp(40px, 3vw, 50px);
  line-height: clamp(40px, 3vw, 50px);
  font-size: 14px;
}

@keyframes hotspot-icon {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes hotspot-icon {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@media (min-width: 768px) {
  .usk-image-hotspot-main {
    width: 27%;
    min-width: 27%;
  }
  .usk-image-hotspot-slider-left .usk-image-hotspot {
    flex-direction: row;
  }
  .usk-image-hotspot-slider-left .usk-image-hotspot-main {
    margin-left: clamp(15px, 3vw, 30px);
  }
  .usk-image-hotspot-slider-right .usk-image-hotspot {
    flex-direction: row-reverse;
  }
  .usk-image-hotspot-slider-right .usk-image-hotspot-main {
    margin-right: clamp(15px, 3vw, 30px);
  }
}