.usk-page-my-account .woocommerce {
  display: flex;
  gap: 30px;
  flex-direction: column;
}
.usk-page-my-account .woocommerce-MyAccount-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
}
.usk-page-my-account .woocommerce-MyAccount-navigation ul li a {
  color: #3c3c47;
  font-weight: 600;
  font-size: 14px;
  text-transform: capitalize;
  display: block;
  padding: 10px 15px;
  transition: background-color 0.3s ease;
}
.usk-page-my-account .woocommerce-MyAccount-navigation ul li.is-active a {
  background-color: #f1f1f1;
}
.usk-page-my-account .woocommerce-MyAccount-navigation ul li:hover a {
  background-color: #f7f7f7;
}
.usk-page-my-account .woocommerce-MyAccount-navigation ul li:nth-child(n+2) {
  border: none;
  margin: 0;
  padding: 0;
}
.usk-page-my-account .woocommerce-MyAccount-content {
  border: none;
  padding: 0;
}
.usk-page-my-account .woocommerce-MyAccount-content p {
  margin: 0 0 20px;
  color: #797d85;
  font-weight: 400;
}
.usk-page-my-account .woocommerce-MyAccount-content .edit-account fieldset {
  margin-bottom: 20px;
}
.usk-page-my-account .woocommerce-MyAccount-content .edit-account .woocommerce-Button.button:hover {
  color: #ffffff;
  background-color: #d90d0d;
}
.usk-page-my-account .woocommerce::after,
.usk-page-my-account .woocommerce::before {
  content: unset !important;
}
.usk-page-my-account .woocommerce-MyAccount-content .woocommerce-orders-table {
  border-collapse: collapse;
  border-spacing: 0;
}
.usk-page-my-account .woocommerce-MyAccount-content .woocommerce-orders-table th, .usk-page-my-account .woocommerce-MyAccount-content .woocommerce-orders-table td {
  padding: 10px 15px;
  border: 1px solid #ddd;
}
.usk-page-my-account .woocommerce-MyAccount-content .woocommerce-orders-table th {
  font-weight: 600;
}
.usk-page-my-account .woocommerce-MyAccount-content .woocommerce-orders-table thead th {
  font-size: 15px;
  background-color: #ffffff;
}
.usk-page-my-account .woocommerce-MyAccount-content .woocommerce-orders-table tbody th a {
  color: #333333;
}
.usk-page-my-account .woocommerce-MyAccount-content .woocommerce-orders-table tbody th a:hover {
  color: #d90d0d;
}
.usk-page-my-account .woocommerce-MyAccount-content .woocommerce-orders-table td.woocommerce-orders-table__cell a {
  padding: 6px 8px;
  font-size: 13px;
  font-weight: 500;
  background-color: #eaeef2;
  color: #333333;
}
.usk-page-my-account .woocommerce-MyAccount-content .woocommerce-orders-table td.woocommerce-orders-table__cell a:hover {
  background-color: #d90d0d;
  color: #fff;
}
.usk-page-my-account .woocommerce-Address {
  border: 1px solid #ddd;
  padding: 30px;
}
.usk-page-my-account .woocommerce-Address .woocommerce-Address-title {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}
.usk-page-my-account .woocommerce-Address .woocommerce-Address-title h2 {
  font-size: 24px;
  font-weight: 600;
  margin-top: 0;
}
.usk-page-my-account .woocommerce-Address .woocommerce-Address-title a::before {
  font-family: "ultimate-store-kit" !important;
  content: "\e914";
}

@media (min-width: 768px) {
  .usk-page-my-account .woocommerce {
    flex-direction: row;
  }
  .usk-page-my-account .woocommerce-MyAccount-navigation {
    padding-right: 30px;
    border-right: 1px solid #ddd;
  }
}