.usk-page-my-account .woocommerce {
  display: flex;
  gap: 30px;
  flex-direction: column; }

.usk-page-my-account ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  .usk-page-my-account ul li a {
    color: #3c3c47;
    font-weight: 600;
    font-size: 13px;
    text-transform: capitalize;
    display: block;
    padding: 10px 15px;
    transition: background-color .3s ease; }
  .usk-page-my-account ul li.is-active a {
    background-color: #f1f1f1; }
  .usk-page-my-account ul li:hover a {
    background-color: #f7f7f7; }

.usk-page-my-account .woocommerce-MyAccount-content p {
  margin: 0 0 20px;
  font-size: 14px;
  color: #797d85;
  font-weight: 400; }

.usk-page-my-account .woocommerce-MyAccount-content a {
  color: #000; }

.usk-page-my-account .woocommerce::after,
.usk-page-my-account .woocommerce::before {
  content: unset !important; }

@media (min-width: 768px) {
  .usk-page-my-account .woocommerce {
    flex-direction: row; }
  .usk-page-my-account .woocommerce-MyAccount-navigation {
    padding-right: 30px;
    border-right: 1px solid #ddd; } }
