.usk-florence-carousel {
	.usk-item {
		box-shadow: 0 8px 24px rgba(149, 157, 165, 0.2);
		overflow: hidden;
		&:hover {
			.usk-action-btn {
				transform: translateX(0px);
			}
		}
	}

	.usk-shoping {
		bottom: clamp(10px, 1vw, 25px);
		right: clamp(10px, 1vw, 25px);
	}

	.usk-action-btn {
		transform: translateX(25px);
	}

	.usk-badge-label-wrapper {
		left: 0;
		top: 0;
	}

	.usk-content {
		height: 100%;
		background: #fff;
	}
	.usk-content-inner {
		width: 100%;
		position: relative;
	}
	.usk-have-rating {

		.usk-price {
			opacity: 1;
			transition: all 0.3s ease;
			transform: translateY(0);
			margin-bottom: 0;
		}

		.usk-rating {
			transform: translateY(0);
			opacity: 0;
			transition: all 0.3s ease;
		}

		&:hover {
			.usk-rating {
				transform: translateY(-20px);
				opacity: 1;
			}

			.usk-price {
				transform: translateY(-20px);
				opacity: 0;
			}
		}
	}
	.usk-rating {
		position: absolute;
		width: 100%;
		display: flex;
	}
}