html {
    line-height: 1.3 !important;
}
$usk-color: #2b2d42;
.usk-glossy-grid {
    .usk-grid {
        display: grid;
        grid-gap: 40px;
        .usk-item {
            box-shadow: 0 5px 15px rgba(211, 211, 211, 0.527);
            background: #fff;
            position: relative;
            overflow: hidden;
            .usk-image {
                position: relative;
                overflow: hidden;
                width: 100%;
                height: 100%;
                .img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                .default-image {
                    opacity: 1;
                    transform: scale(1.1);
                    transition:
                        transform 0.5s cubic-bezier(0, 0, 0.44, 1.18),
                        opacity 0.5s;
                }
                .hover-image {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    opacity: 0;
                    transition:
                        transform 0.5s cubic-bezier(0, 0, 0.44, 1.18),
                        opacity 0.5s;
                }
            }
            // Ultimate Store Kit Badge Scss
            .usk-badge-label-wrapper {
                display: block;
                position: absolute;
                text-align: left;
                top: 0;
                right: 0;
                padding: 10px;
                .usk-badge-label-content {
                    display: block;
                    text-align: right;
                    div {
                        .usk-badge {
                            text-decoration: none;
                            padding: 3px 5px;
                            font-size: 8px;
                            border-radius: 2px;
                            text-transform: uppercase;
                            font-weight: 700;
                        }
                    }
                    .usk-sale-badge {
                        .usk-badge {
                            background: #2b2d42;
                            color: #fff;
                        }
                    }
                    .usk-badge-wrap {
                        display: flex;
                        justify-content: flex-end;
                    }
                    .usk-sale-badge,
                    .usk-percantage-badge,
                    .usk-stock-status-badge,
                    .usk-trending-badge {
                        margin-bottom: 5px;
                    }
                    .usk-percantage-badge {
                        .usk-badge {
                            background: #8d99ae;
                            color: #fff;
                        }
                    }
                    .usk-stock-status-badge {
                        .usk-badge {
                            background: #ef233c;
                            color: #fff;
                        }
                    }
                    .usk-trending-badge {
                        .usk-badge {
                            background: #ccdae0;
                            color: #fff;
                        }
                    }
                    .usk-new-badge {
                        .usk-badge {
                            background: #d90429;
                            color: #fff;
                        }
                    }
                }
            }
            .usk-content {
                .usk-title {
                    text-decoration: none;
                    margin-bottom: 5px;
                    display: block;
                    .title {
                        font-size: 16px;
                        color: #2b2d42;
                        font-weight: 700;
                        transition: all 0.3s ease;
                        text-transform: capitalize;
                        margin: 0;
                        &:hover {
                            color: #d90429;
                        }
                    }
                }
                .usk-price {
                    margin-bottom: 14px;
                    color: #8d99ae;
                    text-transform: capitalize;
                    font-weight: 600;
                    font-size: 12px;
                    display: inline-flex;
                    align-items: center;
                    del {
                        font-weight: 500;
                    }
                    ins {
                        text-decoration: none;
                        padding-left: 10px;
                    }
                }
                .usk-rating {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    .woocommerce-product-rating {
                        display: flex;
                        align-items: center;
                        font-size: 14px;
                        padding: 0;
                        .star-rating {
                            font-size: 14px;
                            margin: 0;
                        }
                    }
                }
            }
            .usk-shoping {
                position: absolute;
                top: 5px;
                left: 10px;
                right: auto;
                a {
                    text-decoration: none;
                    display: flex;
                    text-align: center;
                    border: 1px solid transparent;
                    margin-bottom: 5px;
                    border-radius: 50%;
                    .icon {
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        &::before {
                            margin: 0;
                        }
                    }
                }
                .usk-shoping-icon-wishlist {
                    color: #ffffffdb;
                    background: $usk-color;
                    transition: all 0.3s ease;
                    &.usk-active {
                        background-color: #d90429;
                    }
                }
                .usk-compare {
                    background: $usk-color;
                    color: #ffffffdb;
                    transition: all 0.5s ease;
                }
                .usk-shoping-icon-quickview {
                    transition: all 0.6s ease;
                    background: $usk-color;
                    color: #ffffffdb;
                }
                .usk-cart {
                    background: $usk-color;
                    color: #fff;
                    &.added {
                        i {
                            &::before {
                                display: none;
                            }
                            &::after {
                                content: "\2713";
                                font-size: 16px;
                            }
                        }
                    }
                    &.loading {
                        .icon {
                            &::before {
                                display: none;
                            }
                            &::after {
                                content: "";
                                width: 15px;
                                height: 15px;
                                border: 2px dotted #fff;
                                border-radius: 50%;
                                display: inline-block;
                                animation: rotation 2s linear infinite;
                            }
                        }
                    }
                    transition: all 0.7s ease;
                }
            }
            &:hover {
                .usk-image {
                    .default-image {
                        opacity: 0;
                        transform: scale(1);
                    }
                    .hover-image {
                        opacity: 1;
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
    .usk-grid-layout {
        grid-template-columns: repeat(1, 1fr);
        .usk-item {
            .usk-content {
                padding: 20px;
                border-top: 1px solid #e8e8e8;
                .usk-desc {
                    display: none;
                }
                .usk-price {
                    justify-content: center;
                }
            }
            .usk-shoping {
                a {
                    padding: 10px;
                    .icon {
                        font-size: 10px;
                    }
                }
            }
        }
    }
    .usk-list-layout {
        grid-template-columns: repeat(1, 1fr);
        .usk-item {
            .usk-item-box {
                display: flex;
                align-items: center;
                height: 100%;
            }
            .usk-shoping {
                a {
                    padding: 10px;
                    .icon {
                        font-size: 10px;
                    }
                }
            }
        }
        .usk-content {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            padding: 10px;
            .usk-desc {
                margin-bottom: 14px;
                display: none;
                .desc {
                    font-size: 14px;
                    font-weight: 500;
                    color: #6f6f6f;
                    line-height: 1.6;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .usk-glossy-grid {
        .usk-grid {
            .usk-item {
                .usk-content {
                    .usk-title {
                        margin-bottom: 10px;
                        .title {
                            font-size: 18px;
                        }
                    }
                    .usk-price {
                        font-size: 14px;
                    }
                }
                .usk-shoping {
                    top: 10px;
                    left: 15px;
                }
                .usk-badge-label-wrapper {
                    padding: 15px;
                    .usk-badge-label-content {
                        div {
                            .usk-badge {
                                padding: 4px 6px;
                                font-size: 10px;
                            }
                        }
                    }
                }
            }
        }
        .usk-grid-layout {
            grid-template-columns: repeat(2, 1fr);
            .usk-item {
                .usk-shoping {
                    a {
                        padding: 10px;
                        .icon {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
        .usk-list-layout {
            grid-template-columns: repeat(1, 1fr);
            .usk-content {
                padding: 15px;
            }
        }
    }
}

@media (min-width: 1024px) {
    .usk-glossy-grid {
        .usk-grid {
            .usk-item {
                .usk-shoping {
                    top: 20px;
                    left: 20px;
                }
                .usk-badge-label-wrapper {
                    padding: 20px;
                    .usk-badge-label-content {
                        div {
                            .usk-badge {
                                padding: 4px 6px;
                                font-size: 10px;
                            }
                        }
                        .usk-sale-badge,
                        .usk-percantage-badge,
                        .usk-stock-status-badge,
                        .usk-trending-badge {
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
        .usk-grid-layout {
            grid-template-columns: repeat(3, 1fr);
            .usk-item {
                .usk-shoping {
                    a {
                        padding: 12px;
                        .icon {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        .usk-list-layout {
            grid-template-columns: repeat(2, 1fr);
            .usk-item {
                .usk-shoping {
                    a {
                        padding: 10px;
                        .icon {
                            font-size: 12px;
                        }
                    }
                }
            }
            .usk-content {
                padding: 20px;
                .usk-desc {
                    display: block;
                }
            }
        }
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
