.usk-page-sinigle {
    .woocommerce-tabs ul.tabs li a {
        background-color: #ddd;
        padding: 10px 20px !important;
        color: #000 !important;
    }
    .woocommerce .quantity .qty {
        height: 36px;
    }
    .woocommerce div.product .woocommerce-tabs .panel {
        margin-top: 30px;
        padding: 0;
    }
}

