.usk-product-category {
    .usk-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        display: grid;
        text-decoration: none;
        margin: 0 auto;
    }

    .category-link {
        text-decoration: none;
    }

    .usk-item {
        position: relative;
        transition: all 0.3s ease;
        overflow: hidden;
    }

    .usk-content {
        position: absolute;
    }

    .usk-image {
        width: 100%;
        height: 100%;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .title {
        font-weight: 600;
        line-height: 22px;
        margin: 0;
        text-decoration: none;
        transition: all 0.25s ease;
    }

    .usk-category-count {
        font-size: 13px;
        text-transform: uppercase;
        margin: 0;
        transition: all 0.25s ease;
    }

    &.style-1 {
        .usk-item {
            border-radius: 5px;

            &:hover {
                .usk-content {
                    background: #0c0d0e;
                }

                .title {
                    color: #fff;
                }

                .usk-category-count {
                    span {
                        opacity: 0;
                    }

                    i {
                        color: #fff;
                        opacity: 1;
                        right: 0;
                    }
                }

                .usk-image {
                    img {
                        transform: scale(1.1);
                    }
                }
            }
        }

        .usk-content {
            padding: 12px 20px;
            border-radius: 4px;
            background: #fff;
            bottom: 0;
            left: 0;
            right: 0;
            margin: clamp(15px, 2vw, 30px);
            transition: all .25s ease;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
        }

        .title {
            color: #0c0d0e;
            font-size: 16px;
        }

        .usk-category-count {
            position: relative;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            font-size: 12px;
            font-weight: 600;
            color: #828282;
            gap: 5px;

            i {
                color: #0c0d0e;
                font-size: 17px;
                position: absolute;
                right: -10px;
                transition: .25s cubic-bezier(.5, 1, .89, 1);
                opacity: 0;
            }
        }

        .usk-image {
            img {
                transition: .5s cubic-bezier(.5, 1, .89, 1);
                will-change: transform;
                animation: 1s cubic-bezier(.26, .54, .32, 1) lazy-fadeIn;
                -webkit-animation: 1s cubic-bezier(.26, .54, .32, 1) lazy-fadeIn;
            }
        }
    }

    &.style-2 {
        .usk-item {
            &:hover {
                .usk-image {
                    img {
                        transform: scale(1.1);
                    }
                }

                .usk-category-count {
                    background: #0c0d0e;
                    color: #fff;

                    i {
                        transform: translateX(0px);
                        opacity: 1;
                    }
                }

                .usk-count-number {
                    opacity: 0;
                    transform: translateX(15px);

                }
            }
        }

        .usk-image {
            img {
                transition: .5s cubic-bezier(.5, 1, .89, 1);
                will-change: transform;
                animation: 1s cubic-bezier(.26, .54, .32, 1) lazy-fadeIn;
                -webkit-animation: 1s cubic-bezier(.26, .54, .32, 1) lazy-fadeIn;
            }
        }

        .usk-content {
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: clamp(20px, 2vw, 30px);
        }

        .title {
            color: #0c0d0e;
            font-size: clamp(18px, 2vw, 24px);
        }

        .usk-category-count {
            color: #0c0d0e;
            background: #fff;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            border-radius: 40px;
            height: 48px;
            width: 48px;
            position: relative;
            overflow: hidden;
            transition: all .25s ease;

            i {
                position: absolute;
                opacity: 0;
                transform: translateX(-25px);
                transition: transform .25s ease;
            }
        }

        .usk-count-number {
            transition: all .25s ease;
        }

        .usk-count-text {
            display: none;
        }

    }

    &.style-3 {
        .usk-item {
            &:hover {
                .usk-image {
                    img {
                        transform: scale(1.1);
                    }
                }

                .title {
                    transform: translateY(0);
                }

                .usk-category-count {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }

        .usk-image {
            img {
                transition: all 0.3s ease;
            }
        }

        .usk-content {
            bottom: 0;
            padding: 28px;
            overflow: hidden;
            width: 100%;
        }

        .title {
            color: #0c0d0e;
            font-size: clamp(18px, 2vw, 24px);
            transform: translateY(30px);
            margin-bottom: 8px;
            line-height: 1.2;
            overflow: hidden;
            transition:
                transform 0.3s cubic-bezier(0.17, 0.73, 0.66, 0.99) 0s,
                z-index 0.3s step-end,
                opacity 0.3s ease;
        }

        .usk-category-count {
            color: #828282;
            opacity: 0;
            transform: translateY(25px);
            overflow: hidden;
            transition:
                transform 0.4s cubic-bezier(0.17, 0.73, 0.66, 0.99) 0s,
                z-index 0.4s step-end,
                opacity 0.4s ease;

            i {
                display: none;
            }
        }
    }

    &.style-4 {
        .usk-item {
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                .usk-image {
                    img {
                        transform: scale(1.1);
                    }
                }

                .title {
                    opacity: 0;
                }

                .usk-category-count {
                    opacity: 1;
                    transform: translateY(-20px);
                }
            }
        }

        .usk-image {
            img {
                transition: all 0.3s ease;
            }
        }

        .usk-content {
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
        }

        .title {
            background: #2b2d42;
            padding: 5px 10px;
            border-radius: 2px;
            color: #fff;
            font-size: 14px;
            transform: translateY(20px);
            opacity: 1;
            transition:
                transform 0.3s cubic-bezier(0.17, 0.73, 0.66, 0.99) 0s,
                z-index 0.3s step-end,
                opacity 0.3s ease;
        }

        .usk-category-count {
            padding: 5px 10px;
            color: #fff;
            background: #d90429;
            border-radius: 3px;
            transform: translateY(-10px);
            opacity: 0;
            transition:
                transform 0.4s cubic-bezier(0.17, 0.73, 0.66, 0.99) 0s,
                z-index 0.4s step-end,
                opacity 0.4s ease;

            i {
                display: none;
            }
        }
    }

    &.style-5 {
        .usk-item {
            &:hover {
                box-shadow: 0px 9px 16px -4px rgba(0, 0, 0, 0.23);
                transition: all 0.3s ease;
            }
        }

        .title {
            color: #0c0d0e;
            font-size: clamp(18px, 2vw, 24px);
            margin-bottom: 8px;
        }

        .usk-content {
            text-align: center;
            padding: 20px 30px;
            border-radius: 5px;
            width: max-content;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 1px solid #e2e2e2;
            backdrop-filter: blur(15px);
            background: rgba(255, 255, 255, 0.22);
        }

        .usk-category-count {
            color: #828282;

            i {
                display: none;
            }
        }
    }

    &.style-6 {
        .usk-item {
            display: flex;
            align-items: center;
            grid-gap: 15px;
            border: 0;
        }

        .usk-content {
            position: relative;
        }

        .usk-image {
            width: 60px;
            height: 60px;
            padding: 5px;
            border-radius: 60px;
            border: 1px solid #ddd;
            overflow: hidden;

            img {
                border-radius: 60px;
            }
        }

        .usk-category-count {
            display: none;
        }

        .title {
            font-size: clamp(16px, 2vw, 18px);
            color: #0c0d0e;
        }
    }

}

@media (min-width: 768px) {
    .usk-product-category {
        .usk-grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (min-width: 1024px) {
    .usk-product-category {
        .usk-grid {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@keyframes lazy-fadeIn {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}