.usk-product-accordion {
  // display: none;
  .usk-accordion {
    margin: 10px auto;
    border: 1px solid #eee;
    border-radius: 8px;
    box-sizing: border-box;
    margin-bottom: 20px;
    text-decoration: none;
    margin: 0;
    .usk-accordion-header{
    background-color: #e91e63;

    }
    // Trigger class
    .usk-accordion-trigger {
      font: bold 14px "Arial", sans-serif;
      color: #ffffff;
      text-align: left;
      width: 100%;
      padding: 15px;
      display: block;
      cursor: pointer;
      background-color: transparent;
      -webkit-transition: color 0.25s ease;
      transition: color 0.25s ease;
      position: relative;
      text-decoration: none;
      margin: 0;
      border: 0;
      transition: all 0.3s ease;
      overflow: hidden;

      &::after {
        content: "+";
        text-align: center;
        // width: 15px;
        transform: translate(0, -50%);
        position: absolute;
        right: -1px;
        top: 50%;
        padding: 10px;
      }

      &:focus {
        color: #808080;
      }
    }

    // Panel class
    .usk-item-box {
      overflow: hidden;
      transition-property: height, visibility;
      transition-timing-function: ease;
      margin: 0;
    }

    // Hide content when Javascript is enabled
    &.js-enabled {
      .usk-item-box {
        visibility: hidden;
      }
    }

    // Active class
    &.usk-active {
      .usk-item-box {
        visibility: visible;
      }

      & > .usk-accordion-header .usk-accordion-trigger {
        &::after {
          content: "\2013";
          // padding: 10px;
        }
      }
    }
  }
  .usk-single-item {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background: #fff;
    padding: 30px;
    position: relative;
    .usk-single-item-box {
      display: inherit;
      align-items: center;
      .usk-image {
        width: 100%;
        height: auto;
        a {
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      .usk-content-wrapper {
        width: 100%;
        padding: 0;
        padding-top: 20px;
        .usk-category {
          margin-bottom: 15px;
          a {
            text-decoration: none;
            font-size: 12px;
            border-radius: 2px;
            font-weight: 500;
            border: 1px solid #e91e63;
            padding: 5px 15px;
            text-transform: uppercase;
            color: #e91e63;
            transition: all 0.3s ease;
            &:hover {
              background: #e91e63;
              color: #fff;
            }
          }
        }
        .usk-price {
          color: #32393b;
          font-size: 16px;
          font-weight: 700;
          margin-bottom: 10px;
          del {
            color: #a09c9c;
            font-weight: 400;
          }
          ins {
            text-decoration: none;
            padding-left: 8px;
          }
        }
        .usk-desc {
          font-size: 14px;
          color: #6f6f6f;
          max-width: 500px;
          margin-bottom: 15px;
        }
        .usk-rating {
          margin-bottom: 15px;
          display: inline-block;
        }
        .usk-shoping {
          display: flex;
          align-items: center;
          grid-column-gap: 10px;
        // 
        .usk-button{
          position: relative;
          &.added {
                display: none;
                transition: all 3s ease-in-out;
           }
          &.loading{
            &::after {
              content: '';
              width: 12px;
              height: 12px;
              border: 2px dotted #fff;
              border-radius: 50%;
              display: inline-block;
              position: absolute;
              top: 35%;
              margin-left: -12px;
              text-align: center;
              animation: rotation 2s linear infinite;
          }
            i{
              transition: all .3s ease-in-out;
              transform: translate(70px);
              opacity: .02;
            }
          }
        }
        .added_to_cart{
          transition: all 3s ease;
            &::after{
              content: '\2713';
              margin-left: 5px;
              font-size: 13px;
            }
            i{
              display: none;
            }
        }
        .usk-button,
        .added_to_cart{
          background: #2b2d42;
          display: inline-block;
          padding: 11px 22px;
          color: #fff;
          font-size: 12px;
          font-weight: 700;
          border-radius: 3px;
          text-transform: capitalize;
          transition: all .3s ease;
          a {
            color: #fff;
          }
          .button-icon {
            margin-left: -5px;
            transition: all 0.3s ease;
            opacity: 0;
            visibility: hidden;
          }
          &:hover {
            .button-icon {
              margin-left: 10px;
              opacity: 1;
              visibility: visible;
            }
          }
        }


        //

          .usk-action-btn {
            display: inline-block;
            text-decoration: none;
            text-align: center;
            border-radius: 3px;
            padding: 7px 12px;
            border: 1px solid #2b2d42;
          }
          .usk-shoping-icon-wishlist {
            color: #2b2d42;
            transition: all 0.3s ease;
            &:hover {
              color: #fff;
              background: #000;
            }
          }
          .usk-compare {
            color: #2b2d42;
            transition: all 0.3s ease;
            &:hover {
              color: #fff;
              background: #000;
            }
          }
          .usk-shoping-icon-quickview {
            color: #2b2d42;
            transition: all 0.3s ease;
            &:hover {
              color: #fff;
              background: #000;
            }
          }
        }
      }
      .usk-badge-label-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        margin: 40px;
        display: flex;
        align-items: center;
        .usk-badge-wrap {
          margin-left: 10px;
          &:nth-child(1) {
            margin-left: 0;
          }
          .usk-badge {
            text-transform: capitalize;
            font-weight: 500;
            padding: 5px 8px;
            border-radius: 2px;
            font-size: 12px;
          }
        }
        .usk-sale-badge {
          .usk-badge {
            background: #264653;
            color: #fff;
          }
        }
        .usk-percantage-badge {
          .usk-badge {
            background: #f7996e;
            color: #fff;
          }
        }
        .usk-stock-status-badge {
          .usk-badge {
            background: #712f79;
            color: #fff;
          }
        }
        .usk-trending-badge {
          .usk-badge {
            background: #ff2e00;
            color: #fff;
          }
        }
        .usk-new-badge {
          .usk-badge {
            background: #06d6a0;
            color: #fff;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .usk-product-accordion {
    .usk-single-item {
      .usk-single-item-box {
        display: flex;
        .usk-image {
          height: 100%;
        }
        .usk-badge-label-wrapper {
          margin: 15px;
        }
        .usk-content-wrapper {
          padding: 20px;
          padding-top: 0;
        }
      }
    }
    .usk-accordion {
      .usk-accordion-trigger {
        font: bold 18px "Arial", sans-serif;
      }
    }
  }
}
@media (min-width: 1024px) {
  .usk-product-accordion {
    .usk-single-item {
      .usk-single-item-box {
        display: flex;
        .usk-image {
          height: 100%;
        }
        .usk-badge-label-wrapper {
          margin: 15px;
        }
        .usk-content-wrapper {
          padding: 20px;
          padding-top: 0;
        }
      }
    }
    .usk-accordion {
      .usk-accordion-trigger {
        font: bold 18px "Arial", sans-serif;
      }
    }
  }
}
@keyframes rotation {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}