@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff2?t5p9f8') format('woff2'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?t5p9f8') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?t5p9f8') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?t5p9f8##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="usk-icon-"], [class*=" usk-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.usk-icon-variation-swatches {
  &:before {
    content: $usk-icon-variation-swatches; 
  }
}
.usk-icon-call-for-price {
  &:before {
    content: $usk-icon-call-for-price; 
  }
}
.usk-icon-image-hotspot {
  &:before {
    content: $usk-icon-image-hotspot; 
  }
}
.usk-icon-compare-products {
  &:before {
    content: $usk-icon-compare-products; 
  }
}
.usk-icon-wishlist-button {
  &:before {
    content: $usk-icon-wishlist-button; 
  }
}
.usk-icon-wishlist-products {
  &:before {
    content: $usk-icon-wishlist-products; 
  }
}
.usk-icon-product-category-carousel {
  &:before {
    content: $usk-icon-product-category-carousel; 
  }
}
.usk-icon-page-my-account {
  &:before {
    content: $usk-icon-page-my-account; 
  }
}
.usk-icon-page-single {
  &:before {
    content: $usk-icon-page-single; 
  }
}
.usk-icon-page-order {
  &:before {
    content: $usk-icon-page-order; 
  }
}
.usk-icon-page-checkout {
  &:before {
    content: $usk-icon-page-checkout; 
  }
}
.usk-icon-additional-information {
  &:before {
    content: $usk-icon-additional-information; 
  }
}
.usk-icon-mentor-slider {
  &:before {
    content: $usk-icon-mentor-slider; 
  }
}
.usk-icon-account-details {
  &:before {
    content: $usk-icon-account-details; 
  }
}
.usk-icon-account-downloads {
  &:before {
    content: $usk-icon-account-downloads; 
  }
}
.usk-icon-account-login-form {
  &:before {
    content: $usk-icon-account-login-form; 
  }
}
.usk-icon-checkout-additional-info {
  &:before {
    content: $usk-icon-checkout-additional-info; 
  }
}
.usk-icon-checkout-order-review {
  &:before {
    content: $usk-icon-checkout-order-review; 
  }
}
.usk-icon-edd-product-review-carousel {
  &:before {
    content: $usk-icon-edd-product-review-carousel; 
  }
}
.usk-icon-edd-product-reviews {
  &:before {
    content: $usk-icon-edd-product-reviews; 
  }
}
.usk-icon-product-image {
  &:before {
    content: $usk-icon-product-image; 
  }
}
.usk-icon-thankyou-order {
  &:before {
    content: $usk-icon-thankyou-order; 
  }
}
.usk-icon-thankyou-order-confirmation {
  &:before {
    content: $usk-icon-thankyou-order-confirmation; 
  }
}
.usk-icon-thankyou-order-customer-address {
  &:before {
    content: $usk-icon-thankyou-order-customer-address; 
  }
}
.usk-icon-thankyou-order-details {
  &:before {
    content: $usk-icon-thankyou-order-details; 
  }
}
.usk-icon-account-address {
  &:before {
    content: $usk-icon-account-address; 
  }
}
.usk-icon-account-dashboard {
  &:before {
    content: $usk-icon-account-dashboard; 
  }
}
.usk-icon-account-download {
  &:before {
    content: $usk-icon-account-download; 
  }
}
.usk-icon-account-login {
  &:before {
    content: $usk-icon-account-login; 
  }
}
.usk-icon-account-logout {
  &:before {
    content: $usk-icon-account-logout; 
  }
}
.usk-icon-account-navigation {
  &:before {
    content: $usk-icon-account-navigation; 
  }
}
.usk-icon-account-order-details {
  &:before {
    content: $usk-icon-account-order-details; 
  }
}
.usk-icon-account-orders {
  &:before {
    content: $usk-icon-account-orders; 
  }
}
.usk-icon-account-registration-form {
  &:before {
    content: $usk-icon-account-registration-form; 
  }
}
.usk-icon-page-cart {
  &:before {
    content: $usk-icon-page-cart; 
  }
}
.usk-icon-checkout-additional-Info {
  &:before {
    content: $usk-icon-checkout-additional-Info; 
  }
}
.usk-icon-checkout-billing-address {
  &:before {
    content: $usk-icon-checkout-billing-address; 
  }
}
.usk-icon-checkout-coupon-form {
  &:before {
    content: $usk-icon-checkout-coupon-form; 
  }
}
.usk-icon-checkout-login-form {
  &:before {
    content: $usk-icon-checkout-login-form; 
  }
}
.usk-icon-checkout-payment {
  &:before {
    content: $usk-icon-checkout-payment; 
  }
}
.usk-icon-checkout-shipping-form {
  &:before {
    content: $usk-icon-checkout-shipping-form; 
  }
}
.usk-icon-checkout-shipping-methods {
  &:before {
    content: $usk-icon-checkout-shipping-methods; 
  }
}
.usk-icon-qr-code {
  &:before {
    content: $usk-icon-qr-code; 
  }
}
.usk-icon-edd-trendy-carousel {
  &:before {
    content: $usk-icon-edd-trendy-carousel; 
  }
}
.usk-icon-edd-trendy-grid {
  &:before {
    content: $usk-icon-edd-trendy-grid; 
  }
}
.usk-icon-edd-standard-carousel {
  &:before {
    content: $usk-icon-edd-standard-carousel; 
  }
}
.usk-icon-edd-standard-grid {
  &:before {
    content: $usk-icon-edd-standard-grid; 
  }
}
.usk-icon-edd-classic-carousel {
  &:before {
    content: $usk-icon-edd-classic-carousel; 
  }
}
.usk-icon-edd-classic-grid {
  &:before {
    content: $usk-icon-edd-classic-grid; 
  }
}
.usk-icon-edd-beauty-carousel {
  &:before {
    content: $usk-icon-edd-beauty-carousel; 
  }
}
.usk-icon-edd-beauty-grid {
  &:before {
    content: $usk-icon-edd-beauty-grid; 
  }
}
.usk-icon-product-review-carousel {
  &:before {
    content: $usk-icon-product-review-carousel; 
  }
}
.usk-icon-sub-category-carousel {
  &:before {
    content: $usk-icon-sub-category-carousel; 
  }
}
.usk-icon-mini-cart {
  &:before {
    content: $usk-icon-mini-cart; 
  }
}
.usk-icon-edd-product {
  &:before {
    content: $usk-icon-edd-product; 
  }
}
.usk-icon-edd-product-carousel {
  &:before {
    content: $usk-icon-edd-product-carousel; 
  }
}
.usk-icon-edd-category-carousel {
  &:before {
    content: $usk-icon-edd-category-carousel; 
  }
}
.usk-icon-edd-category-grid {
  &:before {
    content: $usk-icon-edd-category-grid; 
  }
}
.usk-icon-heaven-slider {
  &:before {
    content: $usk-icon-heaven-slider; 
  }
}
.usk-icon-info-list {
  &:before {
    content: $usk-icon-info-list; 
  }
}
.usk-icon-featured-box {
  &:before {
    content: $usk-icon-featured-box; 
  }
}
.usk-icon-brand-grid {
  &:before {
    content: $usk-icon-brand-grid; 
  }
}
.usk-icon-brand-carousel {
  &:before {
    content: $usk-icon-brand-carousel; 
  }
}
.usk-icon-sub-category {
  &:before {
    content: $usk-icon-sub-category; 
  }
}
.usk-icon-showcase-slider {
  &:before {
    content: $usk-icon-showcase-slider; 
  }
}
.usk-icon-florence-carousel {
  &:before {
    content: $usk-icon-florence-carousel; 
  }
}
.usk-icon-breadcrumbs {
  &:before {
    content: $usk-icon-breadcrumbs; 
  }
}
.usk-icon-compare {
  &:before {
    content: $usk-icon-compare; 
  }
}
.usk-icon-compare-button {
  &:before {
    content: $usk-icon-compare-button; 
  }
}
.usk-icon-product-filter {
  &:before {
    content: $usk-icon-product-filter; 
  }
}
.usk-icon-florence-grid {
  &:before {
    content: $usk-icon-florence-grid; 
  }
}
.usk-icon-glossy-carousel {
  &:before {
    content: $usk-icon-glossy-carousel; 
  }
}
.usk-icon-glossy-grid {
  &:before {
    content: $usk-icon-glossy-grid; 
  }
}
.usk-icon-product-meta {
  &:before {
    content: $usk-icon-product-meta; 
  }
}
.usk-icon-product-accordion {
  &:before {
    content: $usk-icon-product-accordion; 
  }
}
.usk-icon-product-category {
  &:before {
    content: $usk-icon-product-category; 
  }
}
.usk-icon-product-gallery {
  &:before {
    content: $usk-icon-product-gallery; 
  }
}
.usk-icon-product-image-accordion {
  &:before {
    content: $usk-icon-product-image-accordion; 
  }
}
.usk-icon-product-list {
  &:before {
    content: $usk-icon-product-list; 
  }
}
.usk-icon-product-reviews {
  &:before {
    content: $usk-icon-product-reviews; 
  }
}
.usk-icon-product-table {
  &:before {
    content: $usk-icon-product-table; 
  }
}
.usk-icon-product-rating {
  &:before {
    content: $usk-icon-product-rating; 
  }
}
.usk-icon-recently-view-product {
  &:before {
    content: $usk-icon-recently-view-product; 
  }
}
.usk-icon-shiny-carousel {
  &:before {
    content: $usk-icon-shiny-carousel; 
  }
}
.usk-icon-shiny-grid {
  &:before {
    content: $usk-icon-shiny-grid; 
  }
}
.usk-icon-short-description {
  &:before {
    content: $usk-icon-short-description; 
  }
}
.usk-icon-product-related {
  &:before {
    content: $usk-icon-product-related; 
  }
}
.usk-icon-product-tabs {
  &:before {
    content: $usk-icon-product-tabs; 
  }
}
.usk-icon-product-stock {
  &:before {
    content: $usk-icon-product-stock; 
  }
}
.usk-icon-product-title {
  &:before {
    content: $usk-icon-product-title; 
  }
}
.usk-icon-up-sells {
  &:before {
    content: $usk-icon-up-sells; 
  }
}
.usk-icon-add-to-cart {
  &:before {
    content: $usk-icon-add-to-cart; 
  }
}
.usk-icon-product-description {
  &:before {
    content: $usk-icon-product-description; 
  }
}
.usk-icon-product-images {
  &:before {
    content: $usk-icon-product-images; 
  }
}
.usk-icon-product-price {
  &:before {
    content: $usk-icon-product-price; 
  }
}
.usk-icon-arrow-left-0 {
  &:before {
    content: $usk-icon-arrow-left-0; 
  }
}
.usk-icon-arrow-right-0 {
  &:before {
    content: $usk-icon-arrow-right-0; 
  }
}
.usk-icon-arrow-left-1 {
  &:before {
    content: $usk-icon-arrow-left-1; 
  }
}
.usk-icon-arrow-right-1 {
  &:before {
    content: $usk-icon-arrow-right-1; 
  }
}
.usk-icon-arrow-left-2 {
  &:before {
    content: $usk-icon-arrow-left-2; 
  }
}
.usk-icon-arrow-right-2 {
  &:before {
    content: $usk-icon-arrow-right-2; 
  }
}
.usk-icon-arrow-left-3 {
  &:before {
    content: $usk-icon-arrow-left-3; 
  }
}
.usk-icon-arrow-right-3 {
  &:before {
    content: $usk-icon-arrow-right-3; 
  }
}
.usk-icon-arrow-left-4 {
  &:before {
    content: $usk-icon-arrow-left-4; 
  }
}
.usk-icon-arrow-right-4 {
  &:before {
    content: $usk-icon-arrow-right-4; 
  }
}
.usk-icon-arrow-left-5 {
  &:before {
    content: $usk-icon-arrow-left-5; 
  }
}
.usk-icon-arrow-right-5 {
  &:before {
    content: $usk-icon-arrow-right-5; 
  }
}
.usk-icon-arrow-left-6 {
  &:before {
    content: $usk-icon-arrow-left-6; 
  }
}
.usk-icon-arrow-right-6 {
  &:before {
    content: $usk-icon-arrow-right-6; 
  }
}
.usk-icon-arrow-left-7 {
  &:before {
    content: $usk-icon-arrow-left-7; 
  }
}
.usk-icon-arrow-right-7 {
  &:before {
    content: $usk-icon-arrow-right-7; 
  }
}
.usk-icon-arrow-left-8 {
  &:before {
    content: $usk-icon-arrow-left-8; 
  }
}
.usk-icon-arrow-right-8 {
  &:before {
    content: $usk-icon-arrow-right-8; 
  }
}
.usk-icon-arrow-left-9 {
  &:before {
    content: $usk-icon-arrow-left-9; 
  }
}
.usk-icon-arrow-right-9 {
  &:before {
    content: $usk-icon-arrow-right-9; 
  }
}
.usk-icon-arrow-left-10 {
  &:before {
    content: $usk-icon-arrow-left-10; 
  }
}
.usk-icon-arrow-right-10 {
  &:before {
    content: $usk-icon-arrow-right-10; 
  }
}
.usk-icon-arrow-left-11 {
  &:before {
    content: $usk-icon-arrow-left-11; 
  }
}
.usk-icon-arrow-right-11 {
  &:before {
    content: $usk-icon-arrow-right-11; 
  }
}
.usk-icon-arrow-left-12 {
  &:before {
    content: $usk-icon-arrow-left-12; 
  }
}
.usk-icon-arrow-right-12 {
  &:before {
    content: $usk-icon-arrow-right-12; 
  }
}
.usk-icon-arrow-left-13 {
  &:before {
    content: $usk-icon-arrow-left-13; 
  }
}
.usk-icon-arrow-right-13 {
  &:before {
    content: $usk-icon-arrow-right-13; 
  }
}
.usk-icon-arrow-left-14 {
  &:before {
    content: $usk-icon-arrow-left-14; 
  }
}
.usk-icon-arrow-right-14 {
  &:before {
    content: $usk-icon-arrow-right-14; 
  }
}
.usk-icon-arrow-left-15 {
  &:before {
    content: $usk-icon-arrow-left-15; 
  }
}
.usk-icon-arrow-right-15 {
  &:before {
    content: $usk-icon-arrow-right-15; 
  }
}
.usk-icon-arrow-left-16 {
  &:before {
    content: $usk-icon-arrow-left-16; 
  }
}
.usk-icon-arrow-right-16 {
  &:before {
    content: $usk-icon-arrow-right-16; 
  }
}
.usk-icon-arrow-left-17 {
  &:before {
    content: $usk-icon-arrow-left-17; 
  }
}
.usk-icon-arrow-right-17 {
  &:before {
    content: $usk-icon-arrow-right-17; 
  }
}
.usk-icon-arrow-left-18 {
  &:before {
    content: $usk-icon-arrow-left-18; 
  }
}
.usk-icon-arrow-right-18 {
  &:before {
    content: $usk-icon-arrow-right-18; 
  }
}
.usk-icon-arrow-up-1 {
  &:before {
    content: $usk-icon-arrow-up-1; 
  }
}
.usk-icon-arrow-down-1 {
  &:before {
    content: $usk-icon-arrow-down-1; 
  }
}
.usk-icon-arrow-up-2 {
  &:before {
    content: $usk-icon-arrow-up-2; 
  }
}
.usk-icon-arrow-down-2 {
  &:before {
    content: $usk-icon-arrow-down-2; 
  }
}
.usk-icon-arrow-up-3 {
  &:before {
    content: $usk-icon-arrow-up-3; 
  }
}
.usk-icon-arrow-down-3 {
  &:before {
    content: $usk-icon-arrow-down-3; 
  }
}
.usk-icon-arrow-up-4 {
  &:before {
    content: $usk-icon-arrow-up-4; 
  }
}
.usk-icon-arrow-down-4 {
  &:before {
    content: $usk-icon-arrow-down-4; 
  }
}
.usk-icon-arrow-up-5 {
  &:before {
    content: $usk-icon-arrow-up-5; 
  }
}
.usk-icon-arrow-down-5 {
  &:before {
    content: $usk-icon-arrow-down-5; 
  }
}
.usk-icon-arrow-up-7 {
  &:before {
    content: $usk-icon-arrow-up-7; 
  }
}
.usk-icon-arrow-down-7 {
  &:before {
    content: $usk-icon-arrow-down-7; 
  }
}
.usk-icon-arrow-up-8 {
  &:before {
    content: $usk-icon-arrow-up-8; 
  }
}
.usk-icon-arrow-down-8 {
  &:before {
    content: $usk-icon-arrow-down-8; 
  }
}
.usk-icon-arrow-left-circle-1 {
  &:before {
    content: $usk-icon-arrow-left-circle-1; 
  }
}
.usk-icon-arrow-right-circle-1 {
  &:before {
    content: $usk-icon-arrow-right-circle-1; 
  }
}
.usk-icon-arrow-left-circle-2 {
  &:before {
    content: $usk-icon-arrow-left-circle-2; 
  }
}
.usk-icon-arrow-right-circle-2 {
  &:before {
    content: $usk-icon-arrow-right-circle-2; 
  }
}
.usk-icon-arrow-left-circle-3 {
  &:before {
    content: $usk-icon-arrow-left-circle-3; 
  }
}
.usk-icon-arrow-right-circle-3 {
  &:before {
    content: $usk-icon-arrow-right-circle-3; 
  }
}
.usk-icon-arrow-left-circle-4 {
  &:before {
    content: $usk-icon-arrow-left-circle-4; 
  }
}
.usk-icon-arrow-right-circle-4 {
  &:before {
    content: $usk-icon-arrow-right-circle-4; 
  }
}
.usk-icon-arrow-left-square-1 {
  &:before {
    content: $usk-icon-arrow-left-square-1; 
  }
}
.usk-icon-arrow-right-square-1 {
  &:before {
    content: $usk-icon-arrow-right-square-1; 
  }
}
.usk-icon-x {
  &:before {
    content: $usk-icon-x; 
  }
}
.usk-icon-twitter {
  &:before {
    content: $usk-icon-twitter; 
  }
}
.usk-icon-meneame {
  &:before {
    content: $usk-icon-meneame; 
  }
}
.usk-icon-moimir {
  &:before {
    content: $usk-icon-moimir; 
  }
}
.usk-icon-instapaper {
  &:before {
    content: $usk-icon-instapaper; 
  }
}
.usk-icon-surfingbird {
  &:before {
    content: $usk-icon-surfingbird; 
  }
}
.usk-icon-livejournal {
  &:before {
    content: $usk-icon-livejournal; 
  }
}
.usk-icon-baidu {
  &:before {
    content: $usk-icon-baidu; 
  }
}
.usk-icon-line {
  &:before {
    content: $usk-icon-line; 
  }
}
.usk-icon-twitter1 {
  &:before {
    content: $usk-icon-twitter1; 
  }
}
.usk-icon-linkedin {
  &:before {
    content: $usk-icon-linkedin; 
  }
}
.usk-icon-github {
  &:before {
    content: $usk-icon-github; 
  }
}
.usk-icon-youtube {
  &:before {
    content: $usk-icon-youtube; 
  }
}
.usk-icon-xing {
  &:before {
    content: $usk-icon-xing; 
  }
}
.usk-icon-instagram {
  &:before {
    content: $usk-icon-instagram; 
  }
}
.usk-icon-tumblr {
  &:before {
    content: $usk-icon-tumblr; 
  }
}
.usk-icon-apple {
  &:before {
    content: $usk-icon-apple; 
  }
}
.usk-icon-android {
  &:before {
    content: $usk-icon-android; 
  }
}
.usk-icon-dribbble {
  &:before {
    content: $usk-icon-dribbble; 
  }
}
.usk-icon-skype {
  &:before {
    content: $usk-icon-skype; 
  }
}
.usk-icon-vk {
  &:before {
    content: $usk-icon-vk; 
  }
}
.usk-icon-weibo {
  &:before {
    content: $usk-icon-weibo; 
  }
}
.usk-icon-renren {
  &:before {
    content: $usk-icon-renren; 
  }
}
.usk-icon-wordpress {
  &:before {
    content: $usk-icon-wordpress; 
  }
}
.usk-icon-google {
  &:before {
    content: $usk-icon-google; 
  }
}
.usk-icon-delicious {
  &:before {
    content: $usk-icon-delicious; 
  }
}
.usk-icon-digg {
  &:before {
    content: $usk-icon-digg; 
  }
}
.usk-icon-soundcloud {
  &:before {
    content: $usk-icon-soundcloud; 
  }
}
.usk-icon-wechat {
  &:before {
    content: $usk-icon-wechat; 
  }
}
.usk-icon-pinterest {
  &:before {
    content: $usk-icon-pinterest; 
  }
}
.usk-icon-whatsapp {
  &:before {
    content: $usk-icon-whatsapp; 
  }
}
.usk-icon-odnoklassniki {
  &:before {
    content: $usk-icon-odnoklassniki; 
  }
}
.usk-icon-pocket {
  &:before {
    content: $usk-icon-pocket; 
  }
}
.usk-icon-safari {
  &:before {
    content: $usk-icon-safari; 
  }
}
.usk-icon-chrome {
  &:before {
    content: $usk-icon-chrome; 
  }
}
.usk-icon-firefox {
  &:before {
    content: $usk-icon-firefox; 
  }
}
.usk-icon-opera {
  &:before {
    content: $usk-icon-opera; 
  }
}
.usk-icon-ie {
  &:before {
    content: $usk-icon-ie; 
  }
}
.usk-icon-vimeo {
  &:before {
    content: $usk-icon-vimeo; 
  }
}
.usk-icon-reddit {
  &:before {
    content: $usk-icon-reddit; 
  }
}
.usk-icon-edge {
  &:before {
    content: $usk-icon-edge; 
  }
}
.usk-icon-blogger {
  &:before {
    content: $usk-icon-blogger; 
  }
}
.usk-icon-facebook {
  &:before {
    content: $usk-icon-facebook; 
  }
}
.usk-icon-messenger {
  &:before {
    content: $usk-icon-messenger; 
  }
}
.usk-icon-googleplay {
  &:before {
    content: $usk-icon-googleplay; 
  }
}
.usk-icon-mix {
  &:before {
    content: $usk-icon-mix; 
  }
}
.usk-icon-telegram {
  &:before {
    content: $usk-icon-telegram; 
  }
}
.usk-icon-uikit {
  &:before {
    content: $usk-icon-uikit; 
  }
}
.usk-icon-viber {
  &:before {
    content: $usk-icon-viber; 
  }
}
.usk-icon-flipboard {
  &:before {
    content: $usk-icon-flipboard; 
  }
}
.usk-icon-buffer {
  &:before {
    content: $usk-icon-buffer; 
  }
}
.usk-icon-evernote {
  &:before {
    content: $usk-icon-evernote; 
  }
}
.usk-icon-buffer1 {
  &:before {
    content: $usk-icon-buffer1; 
  }
}
.usk-icon-liveinternet {
  &:before {
    content: $usk-icon-liveinternet; 
  }
}
.usk-icon-viber1 {
  &:before {
    content: $usk-icon-viber1; 
  }
}
.usk-icon-evernote1 {
  &:before {
    content: $usk-icon-evernote1; 
  }
}
.usk-icon-blogger1 {
  &:before {
    content: $usk-icon-blogger1; 
  }
}
.usk-icon-coin {
  &:before {
    content: $usk-icon-coin; 
  }
}
.usk-icon-credit-card {
  &:before {
    content: $usk-icon-credit-card; 
  }
}
.usk-icon-shopping-bag {
  &:before {
    content: $usk-icon-shopping-bag; 
  }
}
.usk-icon-truck {
  &:before {
    content: $usk-icon-truck; 
  }
}
.usk-icon-user {
  &:before {
    content: $usk-icon-user; 
  }
}
.usk-icon-eye {
  &:before {
    content: $usk-icon-eye; 
  }
}
.usk-icon-preview {
  &:before {
    content: $usk-icon-preview; 
  }
}
.usk-icon-eye-blocked {
  &:before {
    content: $usk-icon-eye-blocked; 
  }
}
.usk-icon-email {
  &:before {
    content: $usk-icon-email; 
  }
}
.usk-icon-edit {
  &:before {
    content: $usk-icon-edit; 
  }
}
.usk-icon-video-player {
  &:before {
    content: $usk-icon-video-player; 
  }
}
.usk-icon-tutorial {
  &:before {
    content: $usk-icon-tutorial; 
  }
}
.usk-icon-post {
  &:before {
    content: $usk-icon-post; 
  }
}
.usk-icon-picture {
  &:before {
    content: $usk-icon-picture; 
  }
}
.usk-icon-music {
  &:before {
    content: $usk-icon-music; 
  }
}
.usk-icon-video {
  &:before {
    content: $usk-icon-video; 
  }
}
.usk-icon-code {
  &:before {
    content: $usk-icon-code; 
  }
}
.usk-icon-location {
  &:before {
    content: $usk-icon-location; 
  }
}
.usk-icon-clock {
  &:before {
    content: $usk-icon-clock; 
  }
}
.usk-icon-calendar {
  &:before {
    content: $usk-icon-calendar; 
  }
}
.usk-icon-bubble {
  &:before {
    content: $usk-icon-bubble; 
  }
}
.usk-icon-bubbles {
  &:before {
    content: $usk-icon-bubbles; 
  }
}
.usk-icon-quote {
  &:before {
    content: $usk-icon-quote; 
  }
}
.usk-icon-spinner {
  &:before {
    content: $usk-icon-spinner; 
  }
}
.usk-icon-loading {
  &:before {
    content: $usk-icon-loading; 
  }
}
.usk-icon-spinner-2 {
  &:before {
    content: $usk-icon-spinner-2; 
  }
}
.usk-icon-enlarge {
  &:before {
    content: $usk-icon-enlarge; 
  }
}
.usk-icon-lock {
  &:before {
    content: $usk-icon-lock; 
  }
}
.usk-icon-menu {
  &:before {
    content: $usk-icon-menu; 
  }
}
.usk-icon-website {
  &:before {
    content: $usk-icon-website; 
  }
}
.usk-icon-url {
  &:before {
    content: $usk-icon-url; 
  }
}
.usk-icon-link {
  &:before {
    content: $usk-icon-link; 
  }
}
.usk-icon-star-empty {
  &:before {
    content: $usk-icon-star-empty; 
  }
}
.usk-icon-star-half {
  &:before {
    content: $usk-icon-star-half; 
  }
}
.usk-icon-star-full {
  &:before {
    content: $usk-icon-star-full; 
  }
}
.usk-icon-heart-full {
  &:before {
    content: $usk-icon-heart-full; 
  }
}
.usk-icon-heart-empty {
  &:before {
    content: $usk-icon-heart-empty; 
  }
}
.usk-icon-gallery {
  &:before {
    content: $usk-icon-gallery; 
  }
}
.usk-icon-question {
  &:before {
    content: $usk-icon-question; 
  }
}
.usk-icon-plus3 {
  &:before {
    content: $usk-icon-plus3; 
  }
}
.usk-icon-minus3 {
  &:before {
    content: $usk-icon-minus3; 
  }
}
.usk-icon-checkmark {
  &:before {
    content: $usk-icon-checkmark; 
  }
}
.usk-icon-new-tab {
  &:before {
    content: $usk-icon-new-tab; 
  }
}
.usk-icon-behance {
  &:before {
    content: $usk-icon-behance; 
  }
}
.usk-icon-yelp {
  &:before {
    content: $usk-icon-yelp; 
  }
}
.usk-icon-cart {
  &:before {
    content: $usk-icon-cart; 
  }
}
.usk-icon-close {
  &:before {
    content: $usk-icon-close; 
  }
}
.usk-icon-ultimate-store-kit {
  &:before {
    content: $usk-icon-ultimate-store-kit; 
  }
}
.usk-icon-grid-list {
  &:before {
    content: $usk-icon-grid-list; 
  }
}
.usk-icon-grid-2 {
  &:before {
    content: $usk-icon-grid-2; 
  }
}
.usk-icon-grid-3 {
  &:before {
    content: $usk-icon-grid-3; 
  }
}
.usk-icon-grid-4 {
  &:before {
    content: $usk-icon-grid-4; 
  }
}
.usk-icon-grid-5 {
  &:before {
    content: $usk-icon-grid-5; 
  }
}
.usk-icon-grid-6 {
  &:before {
    content: $usk-icon-grid-6; 
  }
}
.usk-icon-hexagon-zigzag {
  &:before {
    content: $usk-icon-hexagon-zigzag; 
  }
}
.usk-icon-bulge-rectangle {
  &:before {
    content: $usk-icon-bulge-rectangle; 
  }
}
.usk-icon-hexagon-radius2 {
  &:before {
    content: $usk-icon-hexagon-radius2; 
  }
}
.usk-icon-hexagon {
  &:before {
    content: $usk-icon-hexagon; 
  }
}
.usk-icon-hexagon-radius {
  &:before {
    content: $usk-icon-hexagon-radius; 
  }
}
.usk-icon-g2 {
  &:before {
    content: $usk-icon-g2; 
  }
}
.usk-icon-plus-2 {
  &:before {
    content: $usk-icon-plus-2; 
  }
}
.usk-icon-plus {
  &:before {
    content: $usk-icon-plus; 
  }
}
.usk-icon-search {
  &:before {
    content: $usk-icon-search; 
  }
}

