$icomoon-font-family: "ultimate-store-kit" !default;
$icomoon-font-path: "fonts" !default;

$usk-icon-variation-swatches: unquote('"\\e900"');
$usk-icon-call-for-price: unquote('"\\e9ba"');
$usk-icon-image-hotspot: unquote('"\\e9b9"');
$usk-icon-compare-products: unquote('"\\e9a3"');
$usk-icon-wishlist-button: unquote('"\\e9a4"');
$usk-icon-wishlist-products: unquote('"\\e9b5"');
$usk-icon-product-category-carousel: unquote('"\\e99c"');
$usk-icon-page-my-account: unquote('"\\e9a1"');
$usk-icon-page-single: unquote('"\\e9a2"');
$usk-icon-page-order: unquote('"\\e95c"');
$usk-icon-page-checkout: unquote('"\\e97f"');
$usk-icon-additional-information: unquote('"\\e95b"');
$usk-icon-mentor-slider: unquote('"\\e957"');
$usk-icon-account-details: unquote('"\\e9a5"');
$usk-icon-account-downloads: unquote('"\\e9a6"');
$usk-icon-account-login-form: unquote('"\\e9a7"');
$usk-icon-checkout-additional-info: unquote('"\\e9a8"');
$usk-icon-checkout-order-review: unquote('"\\e9a9"');
$usk-icon-edd-product-review-carousel: unquote('"\\e9aa"');
$usk-icon-edd-product-reviews: unquote('"\\e9ab"');
$usk-icon-product-image: unquote('"\\e9ac"');
$usk-icon-thankyou-order: unquote('"\\e9ae"');
$usk-icon-thankyou-order-confirmation: unquote('"\\e9b0"');
$usk-icon-thankyou-order-customer-address: unquote('"\\e9b1"');
$usk-icon-thankyou-order-details: unquote('"\\e9b4"');
$usk-icon-account-address: unquote('"\\e980"');
$usk-icon-account-dashboard: unquote('"\\e981"');
$usk-icon-account-download: unquote('"\\e982"');
$usk-icon-account-login: unquote('"\\e983"');
$usk-icon-account-logout: unquote('"\\e984"');
$usk-icon-account-navigation: unquote('"\\e985"');
$usk-icon-account-order-details: unquote('"\\e986"');
$usk-icon-account-orders: unquote('"\\e987"');
$usk-icon-account-registration-form: unquote('"\\e988"');
$usk-icon-page-cart: unquote('"\\e989"');
$usk-icon-checkout-additional-Info: unquote('"\\e998"');
$usk-icon-checkout-billing-address: unquote('"\\e999"');
$usk-icon-checkout-coupon-form: unquote('"\\e99a"');
$usk-icon-checkout-login-form: unquote('"\\e99b"');
$usk-icon-checkout-payment: unquote('"\\e99d"');
$usk-icon-checkout-shipping-form: unquote('"\\e99e"');
$usk-icon-checkout-shipping-methods: unquote('"\\e99f"');
$usk-icon-qr-code: unquote('"\\e9a0"');
$usk-icon-edd-trendy-carousel: unquote('"\\e950"');
$usk-icon-edd-trendy-grid: unquote('"\\e976"');
$usk-icon-edd-standard-carousel: unquote('"\\e977"');
$usk-icon-edd-standard-grid: unquote('"\\e978"');
$usk-icon-edd-classic-carousel: unquote('"\\e979"');
$usk-icon-edd-classic-grid: unquote('"\\e97a"');
$usk-icon-edd-beauty-carousel: unquote('"\\e97b"');
$usk-icon-edd-beauty-grid: unquote('"\\e97c"');
$usk-icon-product-review-carousel: unquote('"\\e98a"');
$usk-icon-sub-category-carousel: unquote('"\\e98b"');
$usk-icon-mini-cart: unquote('"\\e98c"');
$usk-icon-edd-product: unquote('"\\e98d"');
$usk-icon-edd-product-carousel: unquote('"\\e98e"');
$usk-icon-edd-category-carousel: unquote('"\\e98f"');
$usk-icon-edd-category-grid: unquote('"\\e990"');
$usk-icon-heaven-slider: unquote('"\\e991"');
$usk-icon-info-list: unquote('"\\e992"');
$usk-icon-featured-box: unquote('"\\e993"');
$usk-icon-brand-grid: unquote('"\\e994"');
$usk-icon-brand-carousel: unquote('"\\e995"');
$usk-icon-sub-category: unquote('"\\e996"');
$usk-icon-showcase-slider: unquote('"\\e974"');
$usk-icon-florence-carousel: unquote('"\\e975"');
$usk-icon-breadcrumbs: unquote('"\\e958"');
$usk-icon-compare: unquote('"\\e959"');
$usk-icon-compare-button: unquote('"\\e95a"');
$usk-icon-product-filters: unquote('"\\e95d"');
$usk-icon-florence-grid: unquote('"\\e95e"');
$usk-icon-glossy-carousel: unquote('"\\e95f"');
$usk-icon-glossy-grid: unquote('"\\e960"');
$usk-icon-product-meta: unquote('"\\e962"');
$usk-icon-product-accordion: unquote('"\\e963"');
$usk-icon-product-category: unquote('"\\e964"');
$usk-icon-product-gallery: unquote('"\\e965"');
$usk-icon-product-image-accordion: unquote('"\\e966"');
$usk-icon-product-list: unquote('"\\e967"');
$usk-icon-product-reviews: unquote('"\\e968"');
$usk-icon-product-table: unquote('"\\e969"');
$usk-icon-product-rating: unquote('"\\e96a"');
$usk-icon-recently-view-product: unquote('"\\e96b"');
$usk-icon-shiny-carousel: unquote('"\\e96c"');
$usk-icon-shiny-grid: unquote('"\\e96d"');
$usk-icon-short-description: unquote('"\\e96e"');
$usk-icon-product-related: unquote('"\\e96f"');
$usk-icon-product-tabs: unquote('"\\e970"');
$usk-icon-product-stock: unquote('"\\e971"');
$usk-icon-product-title: unquote('"\\e972"');
$usk-icon-up-sells: unquote('"\\e973"');
$usk-icon-add-to-cart: unquote('"\\e902"');
$usk-icon-product-description: unquote('"\\e94d"');
$usk-icon-product-images: unquote('"\\e94e"');
$usk-icon-product-price: unquote('"\\e94f"');
$usk-icon-arrow-left-0: unquote('"\\e97d"');
$usk-icon-arrow-right-0: unquote('"\\e97e"');
$usk-icon-arrow-left-1: unquote('"\\e917"');
$usk-icon-arrow-right-1: unquote('"\\e925"');
$usk-icon-arrow-left-2: unquote('"\\e918"');
$usk-icon-arrow-right-2: unquote('"\\e926"');
$usk-icon-arrow-left-3: unquote('"\\e919"');
$usk-icon-arrow-right-3: unquote('"\\e927"');
$usk-icon-arrow-left-4: unquote('"\\e91a"');
$usk-icon-arrow-right-4: unquote('"\\e928"');
$usk-icon-arrow-left-5: unquote('"\\e943"');
$usk-icon-arrow-right-5: unquote('"\\e944"');
$usk-icon-arrow-left-6: unquote('"\\e945"');
$usk-icon-arrow-right-6: unquote('"\\e946"');
$usk-icon-arrow-left-7: unquote('"\\e949"');
$usk-icon-arrow-right-7: unquote('"\\e94a"');
$usk-icon-arrow-left-8: unquote('"\\e91e"');
$usk-icon-arrow-right-8: unquote('"\\e92c"');
$usk-icon-arrow-left-9: unquote('"\\e91f"');
$usk-icon-arrow-right-9: unquote('"\\e92d"');
$usk-icon-arrow-left-10: unquote('"\\e920"');
$usk-icon-arrow-right-10: unquote('"\\e92e"');
$usk-icon-arrow-left-11: unquote('"\\e921"');
$usk-icon-arrow-right-11: unquote('"\\e92f"');
$usk-icon-arrow-left-12: unquote('"\\e94b"');
$usk-icon-arrow-right-12: unquote('"\\e94c"');
$usk-icon-arrow-left-13: unquote('"\\e922"');
$usk-icon-arrow-right-13: unquote('"\\e930"');
$usk-icon-arrow-left-14: unquote('"\\e91d"');
$usk-icon-arrow-right-14: unquote('"\\e92b"');
$usk-icon-arrow-left-15: unquote('"\\e923"');
$usk-icon-arrow-right-15: unquote('"\\e931"');
$usk-icon-arrow-left-16: unquote('"\\e924"');
$usk-icon-arrow-right-16: unquote('"\\e932"');
$usk-icon-arrow-left-17: unquote('"\\e91c"');
$usk-icon-arrow-right-17: unquote('"\\e92a"');
$usk-icon-arrow-left-18: unquote('"\\e91b"');
$usk-icon-arrow-right-18: unquote('"\\e929"');
$usk-icon-arrow-up-1: unquote('"\\e933"');
$usk-icon-arrow-down-1: unquote('"\\e910"');
$usk-icon-arrow-up-2: unquote('"\\e934"');
$usk-icon-arrow-down-2: unquote('"\\e911"');
$usk-icon-arrow-up-3: unquote('"\\e935"');
$usk-icon-arrow-down-3: unquote('"\\e912"');
$usk-icon-arrow-up-4: unquote('"\\e936"');
$usk-icon-arrow-down-4: unquote('"\\e913"');
$usk-icon-arrow-up-5: unquote('"\\e937"');
$usk-icon-arrow-down-5: unquote('"\\e915"');
$usk-icon-arrow-up-7: unquote('"\\e938"');
$usk-icon-arrow-down-7: unquote('"\\e916"');
$usk-icon-arrow-up-8: unquote('"\\e939"');
$usk-icon-arrow-down-8: unquote('"\\e947"');
$usk-icon-arrow-left-circle-1: unquote('"\\e93b"');
$usk-icon-arrow-right-circle-1: unquote('"\\e93f"');
$usk-icon-arrow-left-circle-2: unquote('"\\e93c"');
$usk-icon-arrow-right-circle-2: unquote('"\\e940"');
$usk-icon-arrow-left-circle-3: unquote('"\\e93d"');
$usk-icon-arrow-right-circle-3: unquote('"\\e941"');
$usk-icon-arrow-left-circle-4: unquote('"\\e93a"');
$usk-icon-arrow-right-circle-4: unquote('"\\e93e"');
$usk-icon-arrow-left-square-1: unquote('"\\e948"');
$usk-icon-arrow-right-square-1: unquote('"\\e942"');
$usk-icon-x: unquote('"\\e9b6"');
$usk-icon-twitter: unquote('"\\e9b6"');
$usk-icon-meneame: unquote('"\\e906"');
$usk-icon-moimir: unquote('"\\e904"');
$usk-icon-instapaper: unquote('"\\e905"');
$usk-icon-surfingbird: unquote('"\\e907"');
$usk-icon-livejournal: unquote('"\\e90a"');
$usk-icon-baidu: unquote('"\\e9bc"');
$usk-icon-line: unquote('"\\e9bd"');
$usk-icon-twitter1: unquote('"\\f099"');
$usk-icon-linkedin: unquote('"\\f0e1"');
$usk-icon-github: unquote('"\\f113"');
$usk-icon-youtube: unquote('"\\f167"');
$usk-icon-xing: unquote('"\\f168"');
$usk-icon-instagram: unquote('"\\f16d"');
$usk-icon-tumblr: unquote('"\\f173"');
$usk-icon-apple: unquote('"\\f179"');
$usk-icon-android: unquote('"\\f17b"');
$usk-icon-dribbble: unquote('"\\f17d"');
$usk-icon-skype: unquote('"\\f17e"');
$usk-icon-vk: unquote('"\\f189"');
$usk-icon-weibo: unquote('"\\f18a"');
$usk-icon-renren: unquote('"\\f18b"');
$usk-icon-wordpress: unquote('"\\f19a"');
$usk-icon-google: unquote('"\\f1a0"');
$usk-icon-delicious: unquote('"\\f1a5"');
$usk-icon-digg: unquote('"\\f1a6"');
$usk-icon-soundcloud: unquote('"\\f1be"');
$usk-icon-wechat: unquote('"\\f1d7"');
$usk-icon-pinterest: unquote('"\\f231"');
$usk-icon-whatsapp: unquote('"\\f232"');
$usk-icon-odnoklassniki: unquote('"\\f263"');
$usk-icon-pocket: unquote('"\\f265"');
$usk-icon-safari: unquote('"\\f267"');
$usk-icon-chrome: unquote('"\\f268"');
$usk-icon-firefox: unquote('"\\f269"');
$usk-icon-opera: unquote('"\\f26a"');
$usk-icon-ie: unquote('"\\f26b"');
$usk-icon-vimeo: unquote('"\\f27d"');
$usk-icon-reddit: unquote('"\\f281"');
$usk-icon-edge: unquote('"\\f282"');
$usk-icon-blogger: unquote('"\\f37d"');
$usk-icon-facebook: unquote('"\\f39e"');
$usk-icon-messenger: unquote('"\\f39f"');
$usk-icon-googleplay: unquote('"\\f3ab"');
$usk-icon-mix: unquote('"\\f3cb"');
$usk-icon-telegram: unquote('"\\f3fe"');
$usk-icon-uikit: unquote('"\\f403"');
$usk-icon-viber: unquote('"\\f409"');
$usk-icon-flipboard: unquote('"\\f44d"');
$usk-icon-buffer: unquote('"\\f837"');
$usk-icon-evernote: unquote('"\\f839"');
$usk-icon-buffer1: unquote('"\\e9be"');
$usk-icon-liveinternet: unquote('"\\e903"');
$usk-icon-viber1: unquote('"\\e9bf"');
$usk-icon-evernote1: unquote('"\\e9c0"');
$usk-icon-blogger1: unquote('"\\f37e"');
$usk-icon-coin: unquote('"\\e9c6"');
$usk-icon-credit-card: unquote('"\\e9c2"');
$usk-icon-shopping-bag: unquote('"\\e9c3"');
$usk-icon-truck: unquote('"\\e9c4"');
$usk-icon-user: unquote('"\\f007"');
$usk-icon-eye: unquote('"\\f06e"');
$usk-icon-preview: unquote('"\\f06e"');
$usk-icon-eye-blocked: unquote('"\\e9c1"');
$usk-icon-email: unquote('"\\f0e0"');
$usk-icon-edit: unquote('"\\e914"');
$usk-icon-video-player: unquote('"\\e961"');
$usk-icon-tutorial: unquote('"\\e961"');
$usk-icon-post: unquote('"\\e9ad"');
$usk-icon-picture: unquote('"\\e9af"');
$usk-icon-music: unquote('"\\e9b2"');
$usk-icon-video: unquote('"\\e9b3"');
$usk-icon-code: unquote('"\\e9bb"');
$usk-icon-location: unquote('"\\ea3d"');
$usk-icon-clock: unquote('"\\ea4f"');
$usk-icon-calendar: unquote('"\\ea5f"');
$usk-icon-bubble: unquote('"\\eac7"');
$usk-icon-bubbles: unquote('"\\eac9"');
$usk-icon-quote: unquote('"\\eae1"');
$usk-icon-spinner: unquote('"\\eb23"');
$usk-icon-loading: unquote('"\\eb23"');
$usk-icon-spinner-2: unquote('"\\eb2a"');
$usk-icon-enlarge: unquote('"\\eb3c"');
$usk-icon-lock: unquote('"\\eb51"');
$usk-icon-menu: unquote('"\\ec71"');
$usk-icon-website: unquote('"\\ec98"');
$usk-icon-url: unquote('"\\ec98"');
$usk-icon-link: unquote('"\\ec9f"');
$usk-icon-star-empty: unquote('"\\ece0"');
$usk-icon-star-half: unquote('"\\ece1"');
$usk-icon-star-full: unquote('"\\ece2"');
$usk-icon-heart-full: unquote('"\\ecec"');
$usk-icon-heart-empty: unquote('"\\eced"');
$usk-icon-gallery: unquote('"\\ed3f"');
$usk-icon-question: unquote('"\\ed55"');
$usk-icon-plus3: unquote('"\\ed5d"');
$usk-icon-minus3: unquote('"\\ed5e"');
$usk-icon-checkmark: unquote('"\\ed71"');
$usk-icon-new-tab: unquote('"\\eec9"');
$usk-icon-behance: unquote('"\\ef07"');
$usk-icon-yelp: unquote('"\\ef36"');
$usk-icon-cart: unquote('"\\e9b7"');
$usk-icon-close: unquote('"\\e9b8"');
$usk-icon-ultimate-store-kit: unquote('"\\e997"');
$usk-icon-grid-list: unquote('"\\e951"');
$usk-icon-grid-2: unquote('"\\e952"');
$usk-icon-grid-3: unquote('"\\e953"');
$usk-icon-grid-4: unquote('"\\e954"');
$usk-icon-grid-5: unquote('"\\e955"');
$usk-icon-grid-6: unquote('"\\e956"');
$usk-icon-hexagon-zigzag: unquote('"\\e90f"');
$usk-icon-bulge-rectangle: unquote('"\\e90e"');
$usk-icon-hexagon-radius2: unquote('"\\e90d"');
$usk-icon-hexagon: unquote('"\\e90c"');
$usk-icon-hexagon-radius: unquote('"\\e604"');
$usk-icon-g2: unquote('"\\e90b"');
$usk-icon-plus-2: unquote('"\\e908"');
$usk-icon-plus: unquote('"\\e909"');
$usk-icon-search: unquote('"\\e901"');

