.usk-heaven-slider {
	display: flex;
	height: clamp(560px, 40vw, 600px);
	overflow: hidden;
	padding: clamp(10px, 2vw, 30px);
	justify-content: space-between;
	flex-direction: row-reverse;
	border-radius: 6px;
	position: relative;

	.usk-main-slider {
		width: 100%;

		.usk-image-wrap {
			opacity: 0;
		}
	}

	.swiper-slide-duplicate-active,
	.swiper-slide-active {

		.usk-badge-label-wrapper,
		.usk-content {
			opacity: 1;
			visibility: visible;
		}

		.usk-image-wrap {
			opacity: 1;
		}
	}

	.usk-content {
		width: 100%;
		opacity: 0;
		visibility: hidden;
		transition: all .6s ease-in-out;
	}

	.usk-item-box {
		display: flex;
		align-items: center;
		flex-direction: column;
		width: 100%;
		height: 100%;
		gap: clamp(15px, 2vw, 30px);
	}

	.usk-image-wrap {
		width: 100%;
		transition: all .3s ease-in-out;
		display: flex;
		border-radius: 6px;
		overflow: hidden;

		.usk-img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.usk-category {
		margin-bottom: 10px;
		display: inline-flex;
		gap: 10px;
		flex-wrap: wrap;

		a {
			font-size: 14px;
			color: #5f5f74;
			font-weight: 600;
			text-transform: capitalize;
			transition: all .3s ease-in-out;
			text-decoration: underline;
			text-decoration-color: #5bb300;
			text-decoration-skip-ink: none;

			&:hover {
				color: #5bb300;
			}
		}
	}

	.usk-title {
		margin: 0 0 10px;
		font-size: clamp(24px, 2.5vw, 40px);
		letter-spacing: 2px;
		font-weight: 700;
		text-transform: capitalize;

		a {
			color: #1f2027;
			text-decoration: none;
			transition: all .3s ease-in-out;

			&:hover {
				color: #5bb300;
			}
		}
	}

	.usk-text {
		font-size: clamp(14px, 1vw, 16px);
		line-height: 1.8;
		color: #6b6b6e;
		margin-bottom: clamp(10px, 2vw, 15px);

		p {
			margin: 0;
		}
	}

	.usk-price {
		display: flex;
		align-items: center;
		grid-column-gap: 12px;
		font-size: clamp(16px, 1vw, 18px);
		font-weight: 600;
		margin-bottom: clamp(12px, 1.2vw, 14px);

		del {
			color: #8d8e9c;
		}

		ins {
			color: #5bb300;
			text-decoration: none;
		}
	}

	.usk-shoping {
		display: flex;
		align-items: center;
		grid-column-gap: 10px;

		a {
			display: inline-flex;
			position: relative;
			color: #fff;
			font-size: clamp(13px, 1vw, 15px);
			padding: clamp(10px, 1vw, 12px);
			text-decoration: none;
			border-radius: 4px;
			background-color: #5bb300;
			line-height: 1.2;
			&:hover {
				background-color: #1f2027;
			}
			i {
				height: 1.2em;
				width: 1.2em;
				display: inline-flex;
				align-items: center;
				justify-content: center;
			}
		}

		.usk-wishlist.usk-active {
			background-color: #1f2027;
		}
	}

	.usk-item .usk-rating {
		display: flex;
		align-items: center;
		width: 100%;
		margin-bottom: 30px;

		.woocommerce-product-rating {
			display: flex;
			align-items: center;
			padding: 0;

			.star-rating {
				font-size: 12px;
				margin: 0;
			}
		}
	}

	.usk-badge-label-wrapper {
		position: absolute;
		right: 0;
		top: 0;
		margin: 10px;
		.usk-badge {
			border-radius: 4px;
		}
	}

	.usk-thumbs-slider {
		display: none;
		overflow: hidden;
		padding: 5px;
		margin-right: clamp(10px, 2vw, 30px);

		.usk-item-box,
		.usk-image-wrap {
			height: 100%;
			width: 100%;
		}

		.usk-image-wrap {
			padding: 10px;
		}

		.usk-img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 5px;
		}

		.usk-item {
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			overflow: hidden;
			cursor: pointer;

			&:before {
				position: absolute;
				content: '';
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				border-radius: 5px;
				transition: all .3s ease-in-out;
				z-index: -1;
			}
		}
	}

	.usk-navigation-wrap {
		position: absolute;
		right: 0;
		bottom: 0;
		display: flex;
		align-items: center;
		flex-direction: row-reverse;
		margin: clamp(10px, 2vw, 30px);
		grid-column-gap: 10px;
	}

	.usk-nav-btn {
		color: #1f2027;
		font-size: clamp(14px, 1vw, 18px);
		display: flex;
		background: #eee;
		padding: clamp(10px, 1vw, 12px);
		border-radius: 4px;
		cursor: pointer;
		transition: all .3s ease-in-out;
		z-index: 1;

		&:hover {
			color: #5bb300;
		}
	}
}

//Responsive CSS Here
@media (min-width: 768px) {
	.usk-heaven-slider {
		.usk-thumbs-slider {
			display: block;
		}
		// .usk-main-slider {
		// 	width: calc(100% - 130px);
		// }
		.usk-item-box {
			flex-direction: row;
		}
		.usk-badge-label-wrapper {
			margin: 0;
		}
		.usk-content {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}
}