.usk-page-single {
    .woocommerce-product-gallery{
        opacity: 1 !important;
    }
    input{
        line-height: 1 !important;
    }
    button{
        line-height: 1.2;
    }
    form.cart * {
        text-align:center;
    }

    .woocommerce ul.products{
        display: inline-block !important;
        li {
            border: 1px solid #eee;
            padding: 30px !important;
            display: inline-block;
            border-radius: 5px;
        }
    }

    .product_meta {
        display: flex;
        flex-direction: column;
    }

}

