.usk-page-my-account {

    // Account Navigation
    .woocommerce {
        display: flex;
        gap: 30px;
        flex-direction: column;
    }

    .woocommerce-MyAccount-navigation {
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            border: none;
            display: flex;
            flex-direction: column;
            overflow: hidden;

            li {
                a {
                    color: #3c3c47;
                    font-weight: 600;
                    font-size: 14px;
                    text-transform: capitalize;
                    display: block;
                    padding: 10px 15px;
                    transition: background-color .3s ease;
                }

                &.is-active {
                    a {
                        background-color: #f1f1f1;
                    }
                }

                &:hover {
                    a {
                        background-color: #f7f7f7;
                    }
                }
            }

            li:nth-child(n+2) {
                border: none;
                margin: 0;
                padding: 0;
            }

        }
    }

    .woocommerce-MyAccount-content {
        border: none;
        padding: 0;
        overflow: hidden;
        p {
            margin: 0 0 20px;
            color: #797d85;
            font-weight: 400;
        }
        .edit-account {
            fieldset {
                margin-bottom: 20px;
            }
            .woocommerce-Button.button {
                &:hover {
                    color: #ffffff;
                    background-color: #d90d0d;
                }
            }
        }
    }

    .woocommerce::after,
    .woocommerce::before {
        content: unset !important;
    }
    // Account Orders
    .woocommerce-MyAccount-content .woocommerce-orders-table {
        border-collapse: collapse;
        border-spacing: 0;

        th, td {
            padding: 10px 15px;
            border: 1px solid #ddd;
        }
        th {
            font-weight: 600;
        }

        thead {
            th {
                font-size: 15px;
                background-color: #ffffff;
            }
        }
        tbody {
            th {
                a {
                    color: #333333;
                    &:hover {
                        color: #d90d0d;
                    }
                }
            }
        }
        td.woocommerce-orders-table__cell a {
            padding: 6px 8px;
            font-size: 13px;
            font-weight: 500;
            background-color: #eaeef2;
            color: #333333;
            &:hover {
                background-color: #d90d0d;
                color: #fff;
            }
        }
    }

    // Account Downloads

    // Account Addresses
    .woocommerce-Address {
        border: 1px solid #ddd;
        padding: 30px;
        .woocommerce-Address-title {
            margin-bottom: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid #ddd;
            h2 {
                font-size: 24px;
                font-weight: 600;
                margin-top: 0;
            }
            a {
                &::before {
                    font-family: "ultimate-store-kit" !important;
                    content: "\e914";
                }
            }
        }
    }

}

// Account Navigation Tabs Layout
.usk-my-account-tabs-layout-horizontal {
    .woocommerce {
        flex-direction: column;
    }
    .woocommerce-MyAccount-navigation {
        width: 100%;
        ul {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
        }
    }
    .woocommerce-MyAccount-content {
        width: 100%;
    }
}

// Responsive CSS Here
@media (min-width: 768px) {
    .usk-my-account-tabs-layout-vertical {
        .woocommerce {
            flex-direction: row;
        }
    }
}