.usk-page-single {
    .woocommerce-product-gallery{
        opacity: 1 !important;
    }
    input{
        line-height: 1 !important;
    }
    button{
        line-height: 1.2;
    }
    form.cart * {
        text-align:left;
    }

    .variations td.value {
        position: relative;
    }
    a.reset_variations {
        position: absolute;
        left: 0;
    }

    .woocommerce ul.products{
        display: grid;
        margin: 0;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        li {
            border: 1px solid #eee;
            padding: 30px !important;
            display: inline-block;
            border-radius: 5px;
            width: auto;
        }
        &::before,
        &::after {
            display: none;
        }
    }

    .product_meta {
        display: flex;
        flex-direction: column;
    }
    .woocommerce .quantity .qty {
        width: 5.631em;
    }

    .woocommerce div.product .woocommerce-tabs ul.tabs {
        padding: 0;
        li {
            padding: 0;
            margin: 0 15px 0 0;
            border: 0;
            background-color: transparent;
            &:after,
            &:before {
                display: none;
            }
            a {
                padding: 15px 0;
                &:after {
                    content: '';
                    position: absolute;
                    background: #3287f0;
                    height: 2px;
                    bottom: 0;
                    left: 0;
                    width: 0;
                    transition: all 0.3s ease-in-out;
                    -webkit-transition: all 0.3s ease-in-out;
                }
            }
            &.active a {
                &:after {
                    width: 100%;
                }
            }
        }
    }
    
    .woocommerce table.shop_attributes {
        border: 1px solid #eee;
        text-align: left;
        border-collapse: collapse;
        border-spacing: 0;

        tr {
            border: 0;
            border-bottom: 1px solid #eee;
            &:last-child {
                border-bottom: 0;
            }
        }
        th {
            border: 0;
            background-color: #f8f8f8;
            padding: 10px 15px;
        }
        td {
            border: 0;
            font-style: normal;
            background-color: transparent !important;
            p {
                padding: 10px 15px;
            }
        }
    }
    
}

@media (min-width: 768px) {
    .usk-page-single {
        .woocommerce ul.products{
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
@media (min-width: 1024px) {
    .usk-page-single {
        .woocommerce ul.products{
            grid-template-columns: repeat(4, 1fr);
        }
    }
}
