
.usk-sub-category {
    grid-gap: 20px;
    .usk-item {
        display: flex;
        align-items: center;
        gap: 20px;
        border: 1px solid #e8e8e9;
        padding: 20px;
        overflow: hidden;
        transition: all .3s ease;
        &:hover {
            .usk-link-btn {
                a {
                    i {
                        opacity: 1;
                        visibility: visible;
                        transform: translateX(8px);
                    }
                }
            }
        }
    }
    .usk-image-slider {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .usk-image-wrap {
        width: 100%;
        height: 100%;
    }
    .usk-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .usk-content {
        width: 100%;
    }
    .usk-name {
        font-size: 20px;
        margin: 0 0 15px;
        font-weight: 700;
        text-transform: uppercase;
        a {
            color: #2b2c35;
            text-decoration: none;
            transition: all .3s ease-in-out;
            &:hover {
                color: #d90429;
            }
        }
    }
    .usk-list {
        margin: 0 0 13px;
        display: inline-flex;
        flex-wrap: wrap;
        gap: 8px;
        a {
            color: #66687a;
            font-size: 12px;
            text-decoration: underline;
            text-transform: uppercase;
            transition: all 0.3s ease-in-out;
            font-weight: 500;
            display: inline-flex;
            &:hover {
                color: #d90429;
            }
        }
    }
    .usk-link-btn {
        display: inline-flex;
        a {
            display: flex;
            align-items: center;
            font-size: 14px;
            color: #d90429;
            font-weight: 600;
            text-decoration: none;
            text-transform: uppercase;
            transition: all .3s ease-in-out;
            &:hover {
                color: #d90429;
            }
            i {
                opacity: 0;
                visibility: hidden;
                transform: translateX(-10px);
                transition: all .3s ease-in-out;
            }
        }
    }
}