$icomoon-font-family: "ultimate-store-kit" !default;
$icomoon-font-path: "fonts" !default;

$usk-icon-product-category-carousel: "\e99c";
$usk-icon-page-my-account: "\e9a1";
$usk-icon-page-single: "\e9a2";
$usk-icon-page-order: "\e95c";
$usk-icon-page-checkout: "\e97f";
$usk-icon-additional-information: "\e95b";
$usk-icon-mentor-slider: "\e957";
$usk-icon-account-details: "\e9a5";
$usk-icon-account-downloads: "\e9a6";
$usk-icon-account-login-form: "\e9a7";
$usk-icon-checkout-additional-info: "\e9a8";
$usk-icon-checkout-order-review: "\e9a9";
$usk-icon-edd-product-review-carousel: "\e9aa";
$usk-icon-edd-product-reviews: "\e9ab";
$usk-icon-product-image: "\e9ac";
$usk-icon-thankyou-order: "\e9ae";
$usk-icon-thankyou-order-confirmation: "\e9b0";
$usk-icon-thankyou-order-customer-address: "\e9b1";
$usk-icon-thankyou-order-details: "\e9b4";
$usk-icon-account-address: "\e980";
$usk-icon-account-dashboard: "\e981";
$usk-icon-account-download: "\e982";
$usk-icon-account-login: "\e983";
$usk-icon-account-logout: "\e984";
$usk-icon-account-navigation: "\e985";
$usk-icon-account-order-details: "\e986";
$usk-icon-account-orders: "\e987";
$usk-icon-account-registration-form: "\e988";
$usk-icon-page-cart: "\e989";
$usk-icon-checkout-additional-Info: "\e998";
$usk-icon-checkout-billing-address: "\e999";
$usk-icon-checkout-coupon-form: "\e99a";
$usk-icon-checkout-login-form: "\e99b";
$usk-icon-checkout-payment: "\e99d";
$usk-icon-checkout-shipping-form: "\e99e";
$usk-icon-checkout-shipping-methods: "\e99f";
$usk-icon-qr-code: "\e9a0";
$usk-icon-edd-trendy-carousel: "\e950";
$usk-icon-edd-trendy-grid: "\e976";
$usk-icon-edd-standard-carousel: "\e977";
$usk-icon-edd-standard-grid: "\e978";
$usk-icon-edd-classic-carousel: "\e979";
$usk-icon-edd-classic-grid: "\e97a";
$usk-icon-edd-beauty-carousel: "\e97b";
$usk-icon-edd-beauty-grid: "\e97c";
$usk-icon-product-review-carousel: "\e98a";
$usk-icon-sub-category-carousel: "\e98b";
$usk-icon-mini-cart: "\e98c";
$usk-icon-edd-product: "\e98d";
$usk-icon-edd-product-carousel: "\e98e";
$usk-icon-edd-category-carousel: "\e98f";
$usk-icon-edd-category-grid: "\e990";
$usk-icon-heaven-slider: "\e991";
$usk-icon-info-list: "\e992";
$usk-icon-featured-box: "\e993";
$usk-icon-brand-grid: "\e994";
$usk-icon-brand-carousel: "\e995";
$usk-icon-sub-category: "\e996";
$usk-icon-showcase-slider: "\e974";
$usk-icon-florence-carousel: "\e975";
$usk-icon-breadcrumbs: "\e958";
$usk-icon-compare: "\e959";
$usk-icon-compare-button: "\e95a";
$usk-icon-product-filter: "\e95d";
$usk-icon-florence-grid: "\e95e";
$usk-icon-glossy-carousel: "\e95f";
$usk-icon-glossy-grid: "\e960";
$usk-icon-product-meta: "\e962";
$usk-icon-product-accordion: "\e963";
$usk-icon-product-category: "\e964";
$usk-icon-product-gallery: "\e965";
$usk-icon-product-image-accordion: "\e966";
$usk-icon-product-list: "\e967";
$usk-icon-product-reviews: "\e968";
$usk-icon-product-table: "\e969";
$usk-icon-product-rating: "\e96a";
$usk-icon-recently-view-product: "\e96b";
$usk-icon-shiny-carousel: "\e96c";
$usk-icon-shiny-grid: "\e96d";
$usk-icon-short-description: "\e96e";
$usk-icon-product-related: "\e96f";
$usk-icon-product-tabs: "\e970";
$usk-icon-product-stock: "\e971";
$usk-icon-product-title: "\e972";
$usk-icon-up-sale: "\e973";
$usk-icon-add-to-cart: "\e902";
$usk-icon-product-description: "\e94d";
$usk-icon-product-images: "\e94e";
$usk-icon-product-price: "\e94f";
$usk-icon-arrow-left-0: "\e97d";
$usk-icon-arrow-right-0: "\e97e";
$usk-icon-arrow-left-1: "\e917";
$usk-icon-arrow-right-1: "\e925";
$usk-icon-arrow-left-2: "\e918";
$usk-icon-arrow-right-2: "\e926";
$usk-icon-arrow-left-3: "\e919";
$usk-icon-arrow-right-3: "\e927";
$usk-icon-arrow-left-4: "\e91a";
$usk-icon-arrow-right-4: "\e928";
$usk-icon-arrow-left-5: "\e943";
$usk-icon-arrow-right-5: "\e944";
$usk-icon-arrow-left-6: "\e945";
$usk-icon-arrow-right-6: "\e946";
$usk-icon-arrow-left-7: "\e949";
$usk-icon-arrow-right-7: "\e94a";
$usk-icon-arrow-left-8: "\e91e";
$usk-icon-arrow-right-8: "\e92c";
$usk-icon-arrow-left-9: "\e91f";
$usk-icon-arrow-right-9: "\e92d";
$usk-icon-arrow-left-10: "\e920";
$usk-icon-arrow-right-10: "\e92e";
$usk-icon-arrow-left-11: "\e921";
$usk-icon-arrow-right-11: "\e92f";
$usk-icon-arrow-left-12: "\e94b";
$usk-icon-arrow-right-12: "\e94c";
$usk-icon-arrow-left-13: "\e922";
$usk-icon-arrow-right-13: "\e930";
$usk-icon-arrow-left-14: "\e91d";
$usk-icon-arrow-right-14: "\e92b";
$usk-icon-arrow-left-15: "\e923";
$usk-icon-arrow-right-15: "\e931";
$usk-icon-arrow-left-16: "\e924";
$usk-icon-arrow-right-16: "\e932";
$usk-icon-arrow-left-17: "\e91c";
$usk-icon-arrow-right-17: "\e92a";
$usk-icon-arrow-left-18: "\e91b";
$usk-icon-arrow-right-18: "\e929";
$usk-icon-arrow-up-1: "\e933";
$usk-icon-arrow-down-1: "\e910";
$usk-icon-arrow-up-2: "\e934";
$usk-icon-arrow-down-2: "\e911";
$usk-icon-arrow-up-3: "\e935";
$usk-icon-arrow-down-3: "\e912";
$usk-icon-arrow-up-4: "\e936";
$usk-icon-arrow-down-4: "\e913";
$usk-icon-arrow-up-5: "\e937";
$usk-icon-arrow-down-5: "\e915";
$usk-icon-arrow-up-7: "\e938";
$usk-icon-arrow-down-7: "\e916";
$usk-icon-arrow-up-8: "\e939";
$usk-icon-arrow-down-8: "\e947";
$usk-icon-arrow-left-circle-1: "\e93b";
$usk-icon-arrow-right-circle-1: "\e93f";
$usk-icon-arrow-left-circle-2: "\e93c";
$usk-icon-arrow-right-circle-2: "\e940";
$usk-icon-arrow-left-circle-3: "\e93d";
$usk-icon-arrow-right-circle-3: "\e941";
$usk-icon-arrow-left-circle-4: "\e93a";
$usk-icon-arrow-right-circle-4: "\e93e";
$usk-icon-arrow-left-square-1: "\e948";
$usk-icon-arrow-right-square-1: "\e942";
$usk-icon-ultimate-store-kit: "\e997";
$usk-icon-grid-list: "\e951";
$usk-icon-grid-2: "\e952";
$usk-icon-grid-3: "\e953";
$usk-icon-grid-4: "\e954";
$usk-icon-grid-5: "\e955";
$usk-icon-grid-6: "\e956";
$usk-icon-hexagon-zigzag: "\e90f";
$usk-icon-bulge-rectangle: "\e90e";
$usk-icon-hexagon-radius2: "\e90d";
$usk-icon-hexagon: "\e90c";
$usk-icon-hexagon-radius: "\e604";
$usk-icon-g2: "\e90b";
$usk-icon-plus-2: "\e908";
$usk-icon-user: "\f007";
$usk-icon-eye: "\f06e";
$usk-icon-preview: "\f06e";
$usk-icon-email: "\f0e0";
$usk-icon-meneame: "\e906";
$usk-icon-moimir: "\e900";
$usk-icon-instapaper: "\e903";
$usk-icon-surfingbird: "\e904";
$usk-icon-livejournal: "\e905";
$usk-icon-baidu: "\e907";
$usk-icon-line: "\e90a";
$usk-icon-twitter: "\f099";
$usk-icon-linkedin: "\f0e1";
$usk-icon-github: "\f113";
$usk-icon-youtube: "\f167";
$usk-icon-xing: "\f168";
$usk-icon-instagram: "\f16d";
$usk-icon-tumblr: "\f173";
$usk-icon-apple: "\f179";
$usk-icon-android: "\f17b";
$usk-icon-dribbble: "\f17d";
$usk-icon-skype: "\f17e";
$usk-icon-vk: "\f189";
$usk-icon-weibo: "\f18a";
$usk-icon-renren: "\f18b";
$usk-icon-wordpress: "\f19a";
$usk-icon-google: "\f1a0";
$usk-icon-delicious: "\f1a5";
$usk-icon-digg: "\f1a6";
$usk-icon-soundcloud: "\f1be";
$usk-icon-wechat: "\f1d7";
$usk-icon-pinterest: "\f231";
$usk-icon-whatsapp: "\f232";
$usk-icon-odnoklassniki: "\f263";
$usk-icon-pocket: "\f265";
$usk-icon-safari: "\f267";
$usk-icon-chrome: "\f268";
$usk-icon-firefox: "\f269";
$usk-icon-opera: "\f26a";
$usk-icon-ie: "\f26b";
$usk-icon-vimeo: "\f27d";
$usk-icon-reddit: "\f281";
$usk-icon-edge: "\f282";
$usk-icon-blogger: "\f37d";
$usk-icon-facebook: "\f39e";
$usk-icon-messenger: "\f39f";
$usk-icon-googleplay: "\f3ab";
$usk-icon-mix: "\f3cb";
$usk-icon-telegram: "\f3fe";
$usk-icon-uikit: "\f403";
$usk-icon-viber: "\f409";
$usk-icon-flipboard: "\f44d";
$usk-icon-buffer: "\f837";
$usk-icon-evernote: "\f839";
$usk-icon-plus: "\e909";
$usk-icon-search: "\e901";
$usk-icon-edit: "\e914";
$usk-icon-video-player: "\e961";
$usk-icon-tutorial: "\e961";
$usk-icon-post: "\e9ad";
$usk-icon-picture: "\e9af";
$usk-icon-music: "\e9b2";
$usk-icon-video: "\e9b3";
$usk-icon-code: "\e9bb";
$usk-icon-location: "\ea3d";
$usk-icon-clock: "\ea4f";
$usk-icon-calendar: "\ea5f";
$usk-icon-bubble: "\eac7";
$usk-icon-bubbles: "\eac9";
$usk-icon-quote: "\eae1";
$usk-icon-spinner: "\eb23";
$usk-icon-loading: "\eb23";
$usk-icon-spinner-2: "\eb2a";
$usk-icon-enlarge: "\eb3c";
$usk-icon-lock: "\eb51";
$usk-icon-menu: "\ec71";
$usk-icon-website: "\ec98";
$usk-icon-url: "\ec98";
$usk-icon-link: "\ec9f";
$usk-icon-star-empty: "\ece0";
$usk-icon-star-half: "\ece1";
$usk-icon-star-full: "\ece2";
$usk-icon-heart-full: "\ecec";
$usk-icon-heart-empty: "\eced";
$usk-icon-gallery: "\ed3f";
$usk-icon-question: "\ed55";
$usk-icon-plus3: "\ed5d";
$usk-icon-checkmark: "\ed71";
$usk-icon-new-tab: "\eec9";
$usk-icon-behance: "\ef07";
$usk-icon-yelp: "\ef36";

